html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12.5px;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

html {
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

#description {
	display: none;	
}

#map {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

*:focus {
    outline: none;
}

.ui-field-contain {
	margin: 5px 0 !important;
	padding: 0 !important;
}

.headertitle {
	color: #bbbbbb;
	font-size: 14px;
	border-bottom: solid 1px #bbbbbb;
	margin: 0 0 5px 0;
}

#logo {
	position: fixed;
	right: 5px;
	bottom: 16px;
	z-index: 10000;
}

#logo img {
	margin-left: 5px;
	bottom: 0px !important;
}

label.error {
	color: red;
}


.ui-title {
	margin: 5px !important;
}

.easyShareContent {background:#200000;width:300px;padding:5px;border:1px solid #666}
.easyShareContent div.title {font-weight:bold;margin-bottom:5px}			
.easyShareContent ul li {list-style:none;width:150px;float:left}
.easyShareContent ul li img {margin-right:5px;border:0}
.easyShareContent ul li a {font-weight:bold}
.easyShareContent ul li a:hover {background:#a60000;color:#fff}
.easyShareBox {padding-left: 0px !important;display:block;list-style:none;overflow:hidden;}
.easyShareBox li {float:left;margin:0 5px}

p.center { text-align: center; }

#backgroundlayerstoolbar, #zoomtoolbar, #toolstoolbar {
	-webkit-box-shadow: 2px 2px 5px #888;
	-moz-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
	background: #000000;
}

#backgroundlayerstoolbar {
	bottom: 3px;
	right: 50px;
	float: right;
	position: fixed;
    margin-bottom: 0;
}

#zoomtoolbar {
	position: fixed;
	top: 46px;
	right: 10px;
}

#toolstoolbar {
	position: fixed;
	top: 150px;
	right: 10px;
}

#measurelinebtn .ui-icon {
	background:  url(../img/btn/measureline.png) 50% 50% no-repeat; 
	background-size: 18px 18px; 
}

#measureareabtn .ui-icon {
	background:  url(../img/btn/measurearea.png) 50% 50% no-repeat; 
	background-size: 18px 18px; 
}

#sharebtn .ui-icon {
	background:  url(../img/btn/share.png) 50% 50% no-repeat; 
	background-size: 18px 18px; 
}


#themepanel .ui-content{
	overflow: hidden;	
}

#searchpanel {
	width: 300px;
	height: 380px;
}

#searchresults li {
	height: 26px !important;	
}

#searchresults li a {
	font-size: 12.5px !important;
	padding: 0.4em 15px !important;
}

#measurelinebar , #measureareabar{
	position: fixed;
	top: 0px;
	right: 48px;
	-webkit-box-shadow: 2px 2px 5px #888;
	-moz-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
	display: none;
}

#mentionstoolbar {
	position: relative;
	text-align: right;
	top: 40px;
	right: 0px;
	height: 14px;
	padding: 0px 5px;	   
	z-index: 10000;
	font-size: 10px;
	color: #fff;
}

#mentionstoolbar a {
	font-size: 10px;
	color: #fff;
}

#usage, #mentionslegales, #credits , #accessibility{
	width: 600px;
	height: 400px;
	overflow: auto;
}

#usage a, #mentionslegales a, #credits a , #accessibility a {
	color: #ffffff;
	font-weight: normal;
}

#usage h3, #mentionslegales h3, #credits h3 , #accessibility h3{
	border-bottom: solid 1px #ffffff;
}

#usage p, #mentionslegales p, #credits p , #accessibility p{
	margin-left: 20px;
}

#contact {
	min-width: 600px;
}

#contact h3 {
	border-bottom: solid 1px #ffffff;
}

#contactmail {
	width: 300px;
	border-right: solid 1px #ffffff;
	padding-right: 20px;
}

#contactaddr {
	width: 300px;
	padding-left: 20px;
}

#email {
	min-width: 300px;
}

#sharepanel {
	min-width: 300px;
	min-height: 270px;
}

#share h3 {
	border-bottom: solid 1px #ffffff;
}

#simpleshare {
	width: 300px;
	padding-left: 20px;
}


#themeblock h3 {
	text-align: center;
	font-style: italic;
	margin-top: 0;
}

#themeblock {
	
}

#metadata-abstract a {
color: #2489ce;
}


#themelist {	
	padding: 10px 10px 10px 10px;
}

#datalist {	
	/*margin-top: 35px;*/
}

#datalist .ui-field-contain {
	/*margin: 0 !important;
	padding: 0 ! important;*/
}

#themepanel li div {
	padding: 0px !important;
}

#themepanel .ui-btn.ui-btn-a {	
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 12px!important;    
    padding-right: 5px;
}
#datalist h2 a {
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

.layerdisplay-title td {
/*height: 31px!important;
vertical-align: bottom!important;*/
    text-shadow:none;
}
.layerdisplay-title {
    margin: 0px 0px 0px 0px!important;    
}
.ui-checkbox.ui-mini {
margin: 0 0 0 0;
}

#themepanel .ui-title {
font-size: 25px;
}

#themepanel .ui-li-divider {
font-size: 20px;
}

#themelist a {	
	text-align: left !important;
}

#themeaccordeon {
	margin: 0 !important;
}

.infoicon-explanation {
	font-size:x-small;
	display: inline-block;
	padding-left: 10px;
	vertical-align: top;
}


.infoicon {
	float: right;
	/*margin-right: -35px;*/
}

#searchtool {	
	max-width:300px;	
	position: fixed;
	right:50px;
	top: 3px;
}

.ol-attribution {
    right: 200px!important;
    background: rgba(51,51,51,0.5)!important;
    text-shadow: none;
}

.ol-scale-line {
    background: rgba(51,51,51,0.5)!important;
}

#searchtool input:hover,#searchtool input:focus,#searchtool input:active{    
}

#metadataPopup {
	max-width: 75%;
}

.ui-loader-verbose {
width: 200px !important;
}

/* enables map control behind popup */
#sharepanel-screen, #usagepanel-screen {
    display: none;
}

.slid {	
float: right;
right: 1px;
}

.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

.ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.popphoto {
cursor: pointer;
/*max-width: 150px;*/
width:100%;
}

.close-panel-wrapper{
text-align: center;
margin-top: 25px;
}
.close-panel-wrapper * {
margin: 0 auto;
}


#panel-footer {
    height: 125px;
    background-image: url("../img/panel-footer.png");
    background-repeat:no-repeat;
    background-position:right bottom;    
}

#panel-footer img {
    width: 320px;
    bottom: 10px;
    position: fixed;
}

#panel-header img {
margin-left: -20px;
margin-top: -20px;
}

#panel-closer 
{
	position: absolute;
	right:10px;
	top:10px;
}

#themepanel .ui-block-a h2 {
    padding-top: 30px;
    display: inline-block;
    font-size: 14px;
}

.layer-display  .ui-btn-inner {
    padding-right: 5px!important;
}
.layer-display {
    /*padding-top: 7px;*/
}

.ui-icon-layers {	
	background:  url(../img/btn/layers.png) 50% 50% no-repeat; 
	background-size: 18px 18px; 
}

.layerdisplay-title.ui-li-heading {
margin-top: -10px;
font-size:12px;
}

.ol-popup-title {
	padding: 8px 8px 8px 8px;
	margin: -15px -15px -15px -15px;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 225px;
    min-height: 100px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
#popup-content {
    padding-top: 20px;
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

#popup-content a {
color: #333;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;    
    right: 8px;    
}
.ol-popup-closer:after {
    content: "✖";   
}

#popup-closer {
    color: #333;
}

.popupitem h3 {
color: white;
background-color: #333;
text-shadow: none;
}

code {
		padding: 2px 4px;
		color: #d14;
		white-space: nowrap;		
}

#opacityLayer-popup {
	width: 200px;
}

#opacityLayer-popup label {
	font-size: 12px;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

#tick-button {
    position: absolute;
    top: 20px;
    /*overflow:visible;*/
    right: -28px;
    /*width: 25px;
    height: 30px;*/
    margin: 0 0 !important;
    /*border-radius: 0 1em 1em 0;*/
    background-repeat: no-repeat;
}

#tick-button2 {
    position: absolute;
    top: 20px;
    margin: 0 0!important;
}

#tick-button .ui-btn-inner {
   /* padding: 0 0 !important;
    height: 100% !important;     
    line-height: 100px;
    color: #fff;      */
}

.ui-icon-paneltick {
	background-image: url(../img/btn/tick.png)!important;
    /*margin-left: -7px;*/
}

.ui-panel-closed .ui-icon-paneltick {
    background-position: -38px 0px;
}

.ui-panel-open .ui-icon-paneltick {
    background-position: 2px 5px!important;
}

#themepanel .ui-block-a {
    margin-left: -5px;
}

#panel-header {
    overflow: visible;
}

.ui-collapsible-content.ui-body-a {
    background-color: black;
}

.ui-panel-closed  {
    /*visibility: visible !important;  
    /*width: 85px !important; 
    /*left: 260px !important;
    left:0px!important;
    overflow: visible !important;*/
}

.ui-panel-closed #tick-button {
    visibility: visible !important; 
    background-position: -36px 6px!important;   
}

#zoomtoolbar a, #toolstoolbar a{
    height: 8px;
}

#backgroundlayerstoolbar h4 a {
    font-size: 12px;
}



.ui-panel-closed #panel-header {
    overflow: hidden;
}


::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:
	border: skinny plain red;
	box-shadow: 0px 0px 3px #blue inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:
	border: skinny plain black;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #5393c5;
}

