html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12.5px;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

html {
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

/* global jquery mobile override style */
.ui-title {
	margin: 5px !important;
}

.ui-checkbox.ui-mini {
    margin: 0 0 0 0;
}

.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

.ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d {
font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

/*global style */

*:focus {
    outline: none;
}

p.center { text-align: center; }


#description {
	display: none;	
}

#map {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

/* Openlayers 3 css override */

.ol-attribution {
    color: #333333;
    background-color: rgba(255,255,255,0.7);
    border-top-left-radius: 4px;
    right: 15em;
}

.ol-attribution a {
    color: #38C;
    text-decoration: none;
}

.ol-scale-line-inner {
    color: #333333;
    border-color: #333333;
}

.ol-scale-line {
    background-color: rgba(255,255,255,0.7);
}

.ol-control button {
  color: #fff;
  background-color: #333;
  height: 30px;
  width: 30px;
}

.ol-control button:focus, .ol-control button:hover {
  text-decoration: none;
  background-color: #333;  
}

/* Toolsbars */

.ui-icon-measureline:after {
	background-image: url(../img/btn/measureline.svg)
}

.ui-icon-measurearea:after {
	background-image: url(../img/btn/measurearea.svg)
}

.ui-icon-measure:after {
	background-image: url(../img/btn/measure.svg)
}

.ui-icon-legend:after {
	background-image: url(../img/btn/legend2.png)
}

.ui-icon-print:after {
	background:  url(../img/btn/print.png) 50% 50% no-repeat;	
}

.ui-icon-exportpng:after {
	background-image: url(../img/btn/picture.svg)
}

#backgroundlayerstoolbar, #zoomtoolbar, #toolstoolbar {
	-webkit-box-shadow: 2px 2px 5px #888;
	-moz-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
	background: #000000;
}

#backgroundlayerstoolbar {
	bottom: .5em;
	right: 50px;
	float: right;
	position: fixed;
    margin-bottom: 0;
}

#backgroundlayerstoolbar h4 a {
    font-size: 12px;
}

#zoomtoolbar {
	position: fixed;
	top: 46px;
	right: 10px;
}

#toolstoolbar {
	position: fixed;
	top: 150px;
	right: 10px;
}

#zoomtoolbar a, #toolstoolbar a{
    height: 8px;
}


#drawtoolsoptions {
    position: fixed;
	top: 180px;
	right: 40px;
}

/* Measure control css */

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 1);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 1;
  white-space: nowrap;
  text-shadow: none;
}

.tooltip-measure {
  opacity: 1;
  font-weight: bold; 
}

.tooltip-measure-static {
  background-color: rgba(34, 170, 221, 0.5);
  color: black;
  border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-measure-static:before {
  border-top: 6px solid rgba(0, 0, 0, 1);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.tooltip-measure-static:before {
  border-top-color: rgba(34, 170, 221, 0.5);
}

/* search tollbar */

#searchtool {	
	width:220px;
	position: fixed;
	right:50px;    
	top: 3px;
}

a#searchparams {
  position: fixed;
  right: 267px;
  top: .05em;
  border-radius: 4px;
  padding-top: .1em;
  padding-bottom: .1em;
}

#adresse-attribution {
  font-size: 10px;
}

#searchresults {
    max-width:300px;	
    min-width: 246px;
	position: fixed;
	right:50px;
	top: 45px;
}

li.geoportail.ui-li-divider, li.elasticsearch.ui-li-divider {
  color: black;
  background-color: #fff;
  text-shadow: none;
  padding-bottom: 0px;
}


#searchresults li {
	height: 26px !important;	
}

#searchresults li a {
	font-size: 12.5px !important;
	/*padding: 0.4em 15px !important;*/
}


/* popups */

#usage, #mentionslegales, #credits , #accessibility{
	width: 600px;
	height: 400px;
	overflow: auto;
}

#usage a, #mentionslegales a, #credits a , #accessibility a {
	color: #ffffff;
	font-weight: normal;
}

#usage h3, #mentionslegales h3, #credits h3 , #accessibility h3{
	border-bottom: solid 1px #ffffff;
}

#usage p, #mentionslegales p, #credits p , #accessibility p{
	margin-left: 20px;
}

/* popup photo */
.popphoto {
    cursor: pointer;
    max-width:100%;
    max-height: 210px;
}

/* Legend Panel */

.ui-icon-save:after {
	background-image: url(../img/btn/floppy.svg)
}

.mv-all-legend label { 
  font-size: 12px;
  text-decoration: none;
  text-shadow: none;
  padding-top: 10px;
}


#source-content {
    font-size: 10px;
    max-width: 300px;
}

#source-content:before {
    content:"\00a9  ";
    font-size: 13px;    
}

#maplegend {
  position: absolute;  
}

a#legend-export-png {
  position: absolute;
  left: 10px;
  top: 0px;
}

/*Contact Form */

.ui-field-contain {
	margin: 5px 0 !important;
	padding: 0 !important;
}

#contact {
	min-width: 600px;
}

#contact h3 {
	border-bottom: solid 1px #ffffff;
}

#contactmail {
	width: 300px;
	border-right: solid 1px #ffffff;
	padding-right: 20px;
}

#contactaddr {
	width: 300px;
	padding-left: 20px;
}

#contactform {
    padding-left: 10px;
}

#contactform label.error {
	color: red;
}

/* enables map control behind popup */
#sharepanel-screen, #usagepanel-screen, #maplegend-screen {
    display: none;
}

/*End contact Form */

/*Share Panel */

#sharepanel {	
    width:250px;
	min-height: 275px;
}

#simpleshare {
	width: 80px;
	padding-left: 20px;
}

#permaqr {
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.easyShareBox {
  padding-left: 0px !important;
  display: block;
  list-style: none;
  overflow: hidden;
}

/* Left Panel */

#tick-button {
    position: absolute;
    top: 20px;    
    right: -28px;    
    margin: 0 0 !important;   
    background-repeat: no-repeat;
    border-radius: 0px 4px 4px 0px;
}

#tick-button2 {
    position: absolute;
    top: 20px;
    margin: 0 0!important;
    border-radius: 0px 4px 4px 0px;
}

.ui-panel-closed #tick-button {
    visibility: visible !important; 
    background-position: -36px 6px!important;   
}

.ui-panel-closed #panel-header {
    overflow: hidden;
}

/*Panel Title*/

.mv-title {
  background-image: url(../img/logo/logo.svg);
  background-repeat:no-repeat;
  background-position: 0px center; 
  text-align: left!important;
  padding-left: 60px!important;
}

#panel-header {
    overflow: visible;
    background: #2a2a2a;
    border-color: #2a2a2a;
}

#themepanel .ui-title {
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#themepanel .ui-content{
	/*overflow: hidden;	*/
}

#tab_panel {
  padding-top: 15px;
}

a#tabThemes , a#tabInfos{
  text-shadow: none;
  text-decoration: none!important;
  /*font-size: 18px;  */
}

#datalist, #mapinfos {	
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 160px;
  left: 0px;
  right: 10px;
  bottom: 60px;
  width: auto;
  padding-left: 10px;
}


.mv-theme {
  width: 330px;
}

/*theme title*/
.mv-theme h2 a {
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

/* Layer panel */

.theme-layers-btn {
    position: absolute;
    right: 3px;
    padding-right: 1px;
    border-width: 0px!important;
}

.ui-icon-layerstatus0:after {
	background-image: url(../img/btn/layerstatus0.svg);
    background-color: rgba(0,0,0,0)!important;
}

.ui-icon-layerstatus1:after {
	background-image: url(../img/btn/layerstatus1.svg);
    background-color: rgba(0,0,0,0)!important;
}
.ui-icon-layerstatus2:after {
	background-image: url(../img/btn/layerstatus2.svg);
    background-color: rgba(0,0,0,0)!important;
}

#themepanel .ui-btn.ui-btn-a {	
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 12px!important;    
    padding-right: 5px;
}

.layerdisplay-title {
    margin: 0px 0px 0px 0px!important;    
}


.layerdisplay-title td {
    text-shadow:none;
    max-width: 199px!important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;    
}

.layer-searchable {
  background-image: url(../img/btn/search.png);
  background-repeat: no-repeat;  
  background-position: center right;
  width: 18px;
}

.ui-collapsible-content.ui-body-a {
    background: none;
}

/*.ui-icon-layers {	
	background:  url(../img/btn/layers.png) 50% 50% no-repeat; 
	background-size: 18px 18px; 
}*/

#opacityLayer-popup {
	width: 200px;
}

#opacityLayer-popup label {
	font-size: 12px;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

#metadataPopup {
	max-width: 75%;
}

#metadata-abstract a {
    color: #2489ce;
}



/* Panel footer */

#panel-footer {
    /*height: 125px;*/
    background-image: url("../img/panel-footer.png");
    background-repeat:no-repeat;
    background-position:right bottom;
    bottom:0; 
    position:absolute !important;
    top: auto !important;
    width: 100%;
    left:0;
    height: 80px;
    background-color: #333;
    z-index: 3500;
    padding-top: 10px;
}

#mentionstoolbar {	
	height: 14px;
	padding: 0px 5px;	   
	z-index: 10000;
	font-size: 10px;
	color: #fff;
}

#mentionstoolbar a {
	font-size: 10px;
	color: #fff;
}

/* End Panel left */

/* GetFeatureInfo style */

.ol-popup-title {
	padding: 8px 8px 8px 8px;
	margin: -15px -15px -15px -15px;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 225px;
    min-height: 100px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

/* popup title bar */

code {
		padding: 2px 4px;
		color: #d14;
		white-space: nowrap;		
}

#popup-content {
    padding-top: 20px;
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 80%;
    text-shadow: none;    
    padding-right: 10px;    
}


.ol-popup-closer {
    text-decoration: none;
    position: absolute;    
    right: 8px;    
}
.ol-popup-closer:after {
    content: "✖";   
}

#popup-closer {
    color: #333;
}


/* popup tabs and carrousel*/

#selector {
  border-radius: 10px;
}

#ulnav {
    background: #fff;
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 15px!important;
}

ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 10px!important;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#000;
	color:#fff;
	text-decoration: none;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 10px
}

ul.bjqs-controls.v-centered li a:hover{
	background:#f7f7f7;
	color:#000;
    border: #000;
    border: 1px solid;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
    border-radius: 10px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #f9f9f9;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

.ui-widget-header {
  border: none!important;
}
.ui-widget-content {
    border: none!important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {  
  /*border: 3px solid #2ad!important;  */
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #2ad;
  border-radius: 10px 10px 10px 10px;
  border-bottom-width: 1px!important;
  background: none!important;
 }
  
.ui-tabs-panel { 
  margin-left: 2px!important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor { 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 85px;  
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {   
  background-color: #2ad!important;  
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor { 
  cursor: not-allowed;  
  color: #fff; 
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color:#9B9898;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #222;
}



/* CSS scroll bar style for chrome */ 

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:
	border: skinny plain red;
	box-shadow: 0px 0px 3px #blue inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:
	border: skinny plain black;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #5393c5;
}