html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12.5px!important;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    /*background: url(../img/grid.png) repeat scroll center top #fff;*/
    
}

html {
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}


#map {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
    background: url(../img/grid.png) repeat scroll center top #fff;
}

/* Openlayers 3 css override */

.ol-attribution {
    color: #333333;
    background-color: rgba(255,255,255,0.7);
    border-top-left-radius: 4px;
    right: auto;
    margin-left: 150px;
}

.ol-attribution a {
    color: #38C;
    text-decoration: none;
}

.ol-scale-line-inner {
    color: #333333;
    border-color: #333333;
}

.ol-scale-line {
    background-color: rgba(255,255,255,0.7);
}

.ol-control button {
  color: #fff;
  background-color: #032e46;
  height: 30px;
  width: 30px;
}

.ol-control button:focus, .ol-control button:hover {
  text-decoration: none;
  background-color: #032e46;
}

/* search tollbar */

#searchtool {	
	width:220px;
	position: fixed;
	right:50px;    
	top: 3px;
}

a#searchparams {
  position: fixed;
  right: 252px;
  top: .1em;
  border-radius: 4px;
  /* padding-top: .1em; */
  padding-bottom: .15em;
}

#adresse-attribution {
  font-size: 10px;
}

#searchresults {
    max-width:300px;	
    min-width: 246px;
	position: fixed;
	right:50px;
	top: 60px;
}

#searchresults li {
	padding: 0;
}

#searchresults li a {
	font-size: 10px;
}
#searchresults li.disabled {
    padding: 10px;
}


/* popups */



/* popup photo */
.popphoto {
    cursor: pointer;
    max-width:100%;
    max-height: 210px;
}

/* Legend Panel */

.mv-layer-details img {
  max-width: 250px;
  max-height: 250px;
  padding: 10px 30px 10px 10px;
}

#datalist {	
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 140px;
  left: 0px;
  right: 10px;
  bottom: 60px;
  width: auto;
  padding-left: 10px;
  /*font-size: x-small;*/
}





.layerdisplay-title {
    /*text-shadow:none;    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    padding-left: 10px;    
}

.layer-searchable {
  background-image: url(../img/btn/search.png);
  background-repeat: no-repeat;  
  background-position: center right;
  width: 10px;
  background-size: 100%;
}


/* GetFeatureInfo style */

.ol-popup-title {
	padding: 8px 8px 8px 8px;
	margin: -15px -15px -15px -15px;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 225px;
    min-height: 100px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}



.popup-content {
    /*padding-top: 20px;*/
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    /*font-size: 80%;*/
    text-shadow: none;    
    padding-right: 10px;    
}


.ol-popup-closer {
    text-decoration: none;
    position: absolute;    
    right: 8px;    
}
.ol-popup-closer:after {
    content: "✖";   
}

#popup-closer {
    color: #333;
}


/* popup tabs and carrousel*/

#right-panel-selector,#bottom-panel-selector {
  border-radius: 10px;
  border: none;
}

#right-panel-ulnav,#bottom-panel-ulnav {
    background: #fff;
    /*font-size: 12px;*/
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 15px!important;
}

ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 10px!important;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#000;
	color:#fff;
	text-decoration: none;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 10px
}

ul.bjqs-controls.v-centered li a:hover{
	background:#f7f7f7;
	color:#000;
    border: #000;
    border: 1px solid;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
    border-radius: 10px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #f9f9f9;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

.counter-slide {
  position: absolute;  
  background-color: #000;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  padding: 2px 2px 2px 2px;
}

#right-panel .counter-slide {
  bottom: 125px;
  left: 50%;
  display: none;
}

#bottom-panel .counter-slide {
  bottom: -10px;
  left: 50%x; 
}

.ui-tabs-panel >ul {
  list-style: none;
  padding: 0;
  margin: 0;
}








/* CSS scroll bar style for chrome */ 

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:
	border: skinny plain red;
	box-shadow: 0px 0px 3px #blue inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:
	border: skinny plain black;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #5393c5;
}

img.mv-logo {
  max-height: 35px;  
  padding-top: 0px;
  margin-top: -7px;
}


div#datalist {
  max-width: 300px;
}

ul#basemapslist   p{
  background-color: #fff;
  opacity: .8;
  margin-left: 5px;
  margin-right: 5px;
  font-size: smaller;
}

ul#basemapslist  li{
    text-align: center;
    vertical-align: text-top;
    cursor: pointer;
    height: 75px;
    width: 100px;
    -webkit-transition: -webkit-transform .5s,bottom .5s,width .5s; 
  -moz-transition: -moz-transform .5s,bottom .5s,width .5s;
  -o-transition: -o-transform .5s,bottom .5s,width .5s;
  transition: transform .5s,bottom .5s,width .5s;
}

ul#basemapslist  li:hover{   
    /*-webkit-transform: translate3d(25px,0,0);
    transform: translate3d(25px,0,0);
    -ms-transform: translateX(25px);*/
}

ul#basemapslist  li.active{
    border: 3px red dashed;
    /*-webkit-transform: rotate(360deg);
    transform: rotate(360deg);*/
}

div#backgroundlayerstoolbar {
  display: inline-flex;
}

.bglt-btn.mini .fa {  
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);  
}


#layers-container-box {
    position: fixed;
    overflow-y: auto;
    max-height: 100%;
    padding-top: 60px;
    padding-left: 7px;
    max-width: 300px; 
    /*padding-bottom: 40px;*/
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ul#layers-container {
  margin-bottom: 0;
}


.layerdisplay-title .close {
  padding-right: 10px;
}

#layers-container-box.toggled {
    -webkit-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
    -ms-transform: translateX(200px);  
}

.mv-layer-details {
    min-width: 200px;
}

.mv-layer-options {
  padding-top: 10px;
  /* border-top: 1px dashed #333; */
}


#bottom-panel.toggled {
    -webkit-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
    -ms-transform: translateX(200px);  
}

#bottom-panel {
    bottom: 0px;
    opacity: 0; 
    height: 0;
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 2;
    -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   transition: all 0.5s ease;
}



#bottom-panel.active {
    height: 350px;
    opacity: 1;
}

#bottom-panel .mv-header {
  /*padding-left: 250px;*/
}

#bottom-panel .close {
  margin-top: -45px;
}

#right-panel {
    right: 0px;
    opacity: 0; 
    height: 100%;
    width: 0px;
    background: #fff;
    position: fixed;
    z-index: 3;
    -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#right-panel.active {
    width: 320px;
    opacity: 1;
}

#right-panel .close {
  /*padding-top: 60px;  
  right: 10px;*/
  color: #fff;
  opacity: 1;
  padding-top: 0px;
  right: 10px;
  position: absolute;
  margin-top: -38px;
  padding-top: 10px;
}

#right-panel .popup-content {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  /*top: 85px;*/
  left: 0px;
  height: 100%;
  width: auto;
  padding: 0 0 0 0;
}

#right-panel-selector, #right-panel-selector .row , #right-panel-selector .col-md-12 , #right-panel-selector .tabs-left , 
#right-panel .carousel.slide, #right-panel .nav.nav-tabs, #right-panel .tab-content,
#right-panel .tab-pane.active, #carousel-right-panel-1, #right-panel .item.active, #right-panel .carousel-inner {
  height: 100%;
}

.tab-pane {
    margin-left: 20px;
}

#right-panel .item.active {
    /*min-width : 200px;*/
   overflow-y: auto;
}

#right-panel .item.active img {
    max-width: 280px!important;
}

#right-panel .carousel-inner {
      padding-left: 8px;
      padding-right: 25px;
      width: 280px;
}

/* CSS Fiche info GML */

.gml-item-title {
    padding-bottom: 6px;
    padding-top: 15px;
    font-family: spotka-alternatebold;
	color:#032e46;
    font-size: 24px;
}

.gml-item-field-name {
    float: left;
    padding-right: 10px;
    font-weight: bold;
	font-family: Open Sans 
}

.gml-item-field-name::after {
    content: " : ";
}

.gml-item-field-value{
	font-family: Open Sans 
}
 
/*#bottom-panel .popup-content {  */


#backgroundlayerstoolbar {
	bottom: .7em;
	right: 50px;
	float: right;
	position: fixed;
    margin-bottom: 0;
}

#zoomtoolbar {
	position: fixed;
	top: 65px;
	right: 10px;
}

#toolstoolbar {
	position: fixed;
	top: 160px;
	right: 10px;
}

#drawtoolsoptions {
  position: fixed;
  right: 70px;
  float: right;
  top: 160px;
}

li.mv-nav-item span {
  margin-left: -20px;
}

.layerdisplay-title span {
  padding-right: 5px;
}

#share img {  
  margin-left: -15px;
  margin-top: -15px;
}

#loading-indicator {
  position: absolute;
  left: 180px;
  top: 13px;
  z-index: 10000;
}

#alerts-zone {
  bottom: 0px;
  position: absolute;
  left: 250px;
  padding-left: 10px;
  min-width: 300px;
}
#alerts-zone .alert {
  margin-bottom: 2px;
}

/* Measure control css */

.tooltip2 {
  position: relative;
  background: rgba(0, 0, 0, 1);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 1;
  white-space: nowrap;
  text-shadow: none;
}

.tooltip-measure {
  opacity: 1;
  font-weight: bold; 
}

.tooltip-measure-static {
  background-color: rgba(34, 170, 221, 0.5);
  color: black;
  border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-measure-static:before {
  border-top: 6px solid rgba(0, 0, 0, 1);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.tooltip-measure-static:before {
  border-top-color: rgba(34, 170, 221, 0.5);
}
/*  Range from http://danielstern.ca/range.css/?ref=css-tricks#/*/
input[type=range].mv-range {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.3px 0;
}
input[type=range].mv-range:focus {
  outline: none;
}
input[type=range].mv-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #30ffa9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].mv-range::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #333333, 0px 0px 1px #404040;
  border: 1px solid #ff0000;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range].mv-range:focus::-webkit-slider-runnable-track {
  background: #91ffd1;
}
input[type=range].mv-range::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #30ffa9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].mv-range::-moz-range-thumb {
  box-shadow: 1px 1px 1px #333333, 0px 0px 1px #404040;
  border: 1px solid #ff0000;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background: #ff0000;
  cursor: pointer;
}
input[type=range].mv-range::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].mv-range::-ms-fill-lower {
  background: #00ce78;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].mv-range::-ms-fill-upper {
  background: #30ffa9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].mv-range::-ms-thumb {
  box-shadow: 1px 1px 1px #333333, 0px 0px 1px #404040;
  border: 1px solid #ff0000;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background: #ff0000;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].mv-range:focus::-ms-fill-lower {
  background: #30ffa9;
}
input[type=range].mv-range:focus::-ms-fill-upper {
  background: #91ffd1;
}

#right-panel.tab-content {
  padding-top: 150px;
}
li[role="presentation"] {
  max-width: 125px;
}

.popup-content a.left.carousel-control, .popup-content a.right.carousel-control {
  color: #000;
  background: none;
}

.popup-content h3 {
  font-size: small;
}
/* fin de range


.todo {
    display: none;
}

/* tab vertical */
.tabs-left {
 /* margin-top: 3rem;*/
}

.nav-tabs {
  float: left;
  border-bottom: 0;
}
.nav-tabs li {
  float: none;
  margin: 0;
}
.nav-tabs li a {
  margin-right: 0;
  border: 0;
  /*background-color: #fff;*/
  border-radius: 0;
}
.nav-tabs li a:hover {
  /*background-color: #032e46;  */
}
.nav-tabs .glyphicon {
  color: #333;
}


.nav-tabs .active .glyphicon {
  color: #fff;  
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
  background-color:#032e46;
}

.tab-content {
  /*margin-left: 45px;*/
}
.tab-content .tab-pane {
  display: none;
  background-color: #fff;
  /*padding: 1.6rem;*/
 /* padding-top: 10px;*/
  /*overflow-y: auto;*/
  overflow-y: hidden;
}

  
.tab-content .active {
  display: block;
}
/* vertical tab end */

#right-panel .mv-header {
  padding-top: 50px;  
  background-color: #032e46;
  color: #fff;  
}
#right-panel .mv-header h5 {
  text-align: center;
  line-height: 2em;
  margin-bottom: 0;
  font-family: spotka-alternatemedium;
}

.tab-pane {
    padding-left: 2px;
    padding-right: 2px;
    
}




/* Modification CSS Agath*/

/* Import des fonts*/
@font-face {
			font-family: 'spotka-alternatemedium';
			src: url('font/spotka-alternatemedium.ttf') format('truetype');
			}
@font-face {
			font-family: 'spotka-alternatebold';
			src: url('font/spotka-alternatebold.ttf') format('truetype');
			}

/* Style fenêtre de configuration*/

h3.title{
	font-family: 'spotka-alternatebold';
	font-size: 24px;
	color:#032e46;
	}
	
h4.title{
			font-family: 'spotka-alternatebold';
			font-size: 16px;
			color:#032e46;
			}
				
p.info{
	font-family:'Open Sans'!important;
	}

.info{
	font-family:'Open Sans'!important;
	}	

#block_crit{
		display: block;
		box-sizing: content-box;
		width: 130px;
		height: 30px;
		opacity: 1;
		margin: 0;
		border-radius: 4px;
		color: rgba(255,255,255,1);
		background: #032e46;
	}
#ind_freq_an{
				display: block;
				box-sizing: content-box;
				width: 130px;
				height: 30px;
				opacity: 1;
				margin: 0;
				border-radius: 4px;
				border: solid 2px #16a085;
				color: #16a085;
				background: #ffffff;
			}
#ind_freq_mois{
				display: block;
				box-sizing: content-box;
				width: 130px;
				height: 30px;
				opacity: 1;
				margin: 0;
				border-radius: 4px;
				border: solid 2px #1dd2af;
				color: #1dd2af;
				background: #ffffff;
			}
#ind_valid_an{
				display: block;
				box-sizing: content-box;
				width: 130px;
				height: 30px;
				opacity: 1;
				margin: 0;
				border-radius: 4px;
				border: solid 2px #f4c300;
				color: #f4c300;
				background: #ffffff;
			}

#ind_valid_trim{
				display: block;
				box-sizing: content-box;
				width: 130px;
				height: 30px;
				opacity: 1;
				margin: 0;
				border-radius: 4px;
				border: solid 2px #f4d03f;
				color: #f4d03f;
				background: #ffffff;
			}

#ind_cir_an{
				display: block;
				box-sizing: content-box;
				width: 130px;
				height: 30px;
				opacity: 1;
				margin: 0;
				border-radius: 4px;
				border: solid 2px #e74c3c;
				color: #e74c3c;
				background: #ffffff;
			}			
			
p.text{
		font-family: 'Open Sans';
		font-size:12px;
		padding-top: 5px;
		padding-left: 7px;
	}

.indicateur {
			font-family: 'spotkabold';
			font-size: 38px;
			text-transform: uppercase;
			letter-spacing: -0.2pt;
			color:#032e46;
			}

	
	
/* Modification de l'interface bootstrap*/

/* Barre du haut*/
.navbar-default{
	border-color:#032e46;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color:#032e46;
	background-color: #032e46;
}

.navbar-header.fixed-brand{
	background-color: #032e46;
}
	
a.navbar-brand{
	color:#ffffff !important;
	font-family: 'spotka-alternatebold';
	font-size: 20px;	
}

.navbar-default .navbar-toggle{
	border-color: #ffffff;
}
	
.glyphicon-th-large:before{
	color:#ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:#2e5367;
}

/* Barre gauche*/

#sidebar-wrapper a{
	font-family:'Open Sans';
	letter-spacing:-0.2pt;
	/*font-weight:bold;*/
}

.sidebar-nav li a:hover{
	border-left:#032e46 0px solid;
	background:#032e46;
	color: #f8f8f8;
}

.nav-pills li a{
	border-radius:0px;
}

li.level-2{
	text-indent:9px;
}



li.mv-nav-item {
	line-height: 35px;
	font-size:12px;
}

.level-2 .mv-nav-item a{
	margin-left:-40px;
	text-indent: 21px;
	
}

ul#menu {
	font-weight: bold;
}

ul.nav-pills.nav-stacked{
	font-weight: normal;
}

/*Barre du bas*/
ul.carousel-inner{
	padding-left:10px;
}

.iframe_bas{
	margin-top:-14px;
}

.mv-header{
	font-family:spotka-alternatemedium;
	color: #032e46;
	padding-left:10px;
}

.fa-chevron-circle-down{
	color:#032e46;
}

/* MAP */

/* Configuration de la légende*/ 
#layers-container a {
	color: #032e46;
	font-family: Open Sans;
	font-weight: bold;
	padding-right:10px;
}

.form-group label {
	font-family: Open Sans;
}

#layers-container .mv-layer-options a{
	font-weight:normal;
	font-style: italic;
	color: #999999;
}

#layers-container .mv-layer-options p {
	font-family: Open Sans; 
	margin: 0 0 5px;
}

.form-control{
	font-family: Open Sans; 
	font-size: inherit;
}

.form-group.form-group-analyses{
	margin-top:11px;	
}

.form-group.form-group-opacity{
	margin-bottom:10px;
}

/* Style curseur slider */
.mv-layer-options  .slider-selection{
	background:#032e46;	
}

.mv-layer-options .slider-handle {
    background: #032e46;
	width: 15px;
	height: 15px;
}

.mv-layer-options .slider.slider-horizontal .slider-track {
  height: 5px;
}

.mv-layer-options  .slider-track-high{
	background:#ddd;	
}

.mv-layer-options  .slider.slider-horizontal{
	width: 240px;
}

.mv-layer-options .tooltip-inner{
	background-color:#032e46;
	border-radius: 4px;
	font-family: Open Sans;
}
.mv-layer-options .tooltip.top .tooltip-arrow{
	border-top-color:#032e46;
}

/* Configuration fenêtre de fond de carte */ 
#backgroundlayerstoolbar{
	background:#f8f8f8;
	border-radius:4px ;
	right:15px;
	padding-top:3px;
    z-index: 1;
}

/*#backgroundlayerstoolbar .btn-default{
	color: #999;
	background-color:#f8f8f8;
	border-color:#f8f8f8;
	height:84px;
}

#backgroundlayerstoolbar .btn-default:focus{
	color: #999;
	background-color:#f8f8f8;
	border-color:#f8f8f8;
	height:84px;
}

#backgroundlayerstoolbar .btn-default.btn-xs{
	color: #999;
	background-color:#f8f8f8;
	border-color:#f8f8f8;
	height:84px;
}*/

.bglt-btn {
  width: 26px;
  text-align: center;
  line-height: 84px;
}

#bottom-panel-btn {
  margin-top: -24px;
  text-align: center;  
}

#bottom-panel-btn .fa-chevron-circle-down {    
    width: 60px;
    text-align: center;
    line-height: 1.6em;
    background: #fff;    
    border-radius: 0.4em 0.4em 0 0;
    font-size: 15px;
    }
    
#bottom-panel-btn .fa-chevron-circle-down:hover {        
    background: #f8f8f8;
    }

#backgroundlayerstoolbar ul li {
	width: 80px;
	height: 55px;
	border: 2px solid #f8f8f8;
	border-radius:7px;
	margin:2px;
    background-size: 80px;
}

ul#basemapslist {
	margin-bottom: 3px;
	margin-right: 3px;
}
ul#basemapslist p {
	margin-left: -6px;
	margin-right: -6px;
	font-family: Open Sans;
	font-size: 9px;
	line-height:1.3;
	color:#333;
	opacity:1;
	background-color:rgba(255,255,255,0);
	padding-top:53px;
}

ul#basemapslist  li.active{
	/*border:2px #f5f5f5 outset;*/
    border:2px #032e46 outset;    
}

/* Echelle*/ 
.ol-scale-line-inner{
	color: #777;
    border-color: #777;
    font-family: Open Sans;
}

