/*--------------------------- THEME KARTENN BLUE -------------------------*/

/* Import des fonts*/
@font-face {
			font-family: 'spotka-alternatemedium';
			src: url('../font/spotka-alternatemedium.ttf') format('truetype');
			}
@font-face {
			font-family: 'spotka-alternatebold';
			src: url('../font/spotka-alternatebold.ttf') format('truetype');
			}
            
/* Modification de l'interface bootstrap*/

/* Barre de navigation du haut*/
.navbar-default{
	border-color:#032e46;
}

#mv-navbar{
	border-color:#032e46;
	background-color: #032e46;
}

.navbar-header.fixed-brand{
	background-color: #032e46;
}
	
#mv-navbar a.navbar-brand, .mv-title{
	color:#ffffff!important;
	font-family: 'spotka-alternatebold';
	font-size: 20px;	
}

.navbar-default .navbar-toggle{
	border-color: #ffffff;
}
	
.glyphicon-th-large:before{
	color:#ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:#2e5367;
}

.ol-control button {
  color: #fff!important;
  background-color: #032e46!important;
}

.ol-control button:focus, .ol-control button:hover {  
  background-color: #032e46;
}

.gml-item-title {    
    font-family: spotka-alternatebold;
	color:#032e46;
    font-size: 24px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { 
  background-color:#032e46;
}

#right-panel .mv-header {  
  background-color: #032e46;
  color: #fff;  
}
#right-panel .mv-header h5 {  
  font-family: spotka-alternatemedium;
}

/* Barre de gauche*/

#sidebar-wrapper a{
	font-family:'Open Sans';
	letter-spacing:-0.2pt;
	
}

#menu li a:hover{
	border-left:#032e46 0px solid;
	background:#032e46;
	color: #f8f8f8;
}

.mv-header{
	font-family:spotka-alternatemedium;
	color: #032e46;	
}

.fa-chevron-circle-down{
	color:#032e46;
}

#layers-container a {
	color: #032e46;
	font-family: Open Sans;	
}

.form-group label {
	font-family: Open Sans;
}

#layers-container .mv-layer-options p {
	font-family: Open Sans; 
}

.form-control{
	font-family: Open Sans; 
}

/* Style curseur slider Opacité */
.mv-layer-options  .slider-selection{
	background:#032e46;	
}

.mv-layer-options .slider-handle {
    background: #032e46;
}

.mv-layer-options .tooltip-inner{
	background-color:#032e46;
	border-radius: 4px;
	font-family: Open Sans;
}
.mv-layer-options .tooltip.top .tooltip-arrow{
	border-top-color:#032e46;
}


/* Slider temporalité */ 

.mv-layer-options  .form-group-timer .slider-selection{
	background:#032e46;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}

.slider-tick.round.in-selection{
	background: #032e46;
	background-image: none;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}


.slider-tick.round{
	background:#032e46;
	background-image:none;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
	opacity: 1;
}

.form-group-timer .tooltip.bottom .tooltip-arrow{
	border-bottom-color:#032e46;
}

.mv-layer-options  .slider-track-high{
	background:#032e46;	
}

#layers-container-box-header {
  background-color: #032e46;
}


/* Basemap*/ 

ul#basemapslist p {
	font-family: Open Sans;
}

ul#basemapslist  li.active{	
    border:2px #032e46 outset;    
}

/* Style fenêtre de configuration*/

h3.title{
	font-family: 'spotka-alternatebold';
	font-size: 24px;
	color:#032e46;
	}
	
h4.title{
    font-family: 'spotka-alternatebold';
    font-size: 16px;
    color:#032e46;
}

.info{
	font-family:'Open Sans';
	}

		
	/* Button right toolbar */


#toolstoolbar.btn-warning{
	background-color: #032e46;
	border-color: #032e46;
}

#toolstoolbar.btn-warning:hover{
	background-color: #032e46;
	border-color: #032e46;
}

#alerts-zone .alert.alert-info {
  background-color: #032e46;
  color: #fff;
}

#alerts-zone .close {  
  color: #fff;
  text-shadow: 0 1px 0 #000;  
}


.datepicker .active {
    background-color: #032e46!important;
}

.leftpanel-btn:hover {
   color: #032e46;
}

/* Résultats recherches */

li.elasticsearch.list-group-item.disabled{
	color: #032e46;
	
}

/* Buttons tools*/
#drawtoolsoptions .btn-default.active, #drawtoolsoptions .btn-default:active, #drawtoolsoptions .btn-default.focus, #drawtoolsoptions .btn-default:focus {
	background-color:#032e46;
	border-color:#032e46;
}

/* Search toolbar */

li.geoportail.list-group-item.disabled{
	background:#032e46;
	border-color:#032e46;
}

.nav-tabs .active .glyphicon {
  color: #032e46;  
}

a:hover{
	color: #032e46;
}

#searchtool .btn-default{
	color:#032e46;
}

/* Tooltip measure */
.tooltip2 {
  background: #032e46;
}

.tooltip-measure-static {
  background-color: #032e46;
}

.tooltip-measure:before,
.tooltip-measure-static:before {
  border-top: 6px solid #032e46;
}

.tooltip-measure-static:before {
  border-top-color: #032e46;
}
