@charset "UTF-8";
/******************************************************************************
--------------------------- CSS THEME MVIEWER / PETER_RIVER -------------------
********************************************************************************/
/*******************************
------------- FONTS -----------
********************************/
@font-face {
  font-family: 'roboto_bold';
  src: url("../font/Roboto/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'roboto_regular';
  src: url("../font/Roboto/Roboto-Regular.ttf"); }

/*******************************
------------- GENERAL -----------
********************************/
.mv-theme {
  background-color: #3498db;
  color: white; }

/*******************************
------------- NAVBAR -----------
********************************/
#mv-navbar {
  border-color: #3498db;
  background-color: #3498db;
  /* Help button */ }
  #mv-navbar .navbar-brand {
    color: white;
    font-size: 20px; }
  #mv-navbar .mv-title {
    color: white;
    font-size: 18px;
    font-family: "roboto_bold", Arial, Sans-serif;
    letter-spacing: 0.5px; }
  #mv-navbar .navbar-toggle {
    border-color: #3498db;
    color: white; }
  #mv-navbar .mv-navbar-btn {
    color: #3498db; }

/*******************************
------------- MAP CONTROLS -----
********************************/
#map .ol-control button {
  color: white;
  background-color: #3498db; }
#map .ol-control button:focus, #map #map .ol-control button:hover {
  background-color: #3498db; }
#map .ol-scale-line-inner {
  font-family: "roboto_regular", Arial, Sans-serif; }

/*******************************
------------- LEFT PANEL -------
********************************/
/* thematic title */
#menu > li > a {
  font-family: "roboto_bold", Arial, Sans-serif; }

/* group & layer title */
#sidebar-wrapper a {
  font-family: "roboto_regular", Arial, Sans-serif; }

/* all titles hover */
#menu li a:hover {
  border-left: #3498db 0px solid;
  background: #3498db;
  color: #f8f8f8; }

/*******************************
------------- RIGHT PANEL ------
********************************/
/* Titre de la couche interrogée active */
#right-panel .mv-header {
  background-color: #3498db; }
  #right-panel .mv-header h5 {
    color: white;
    font-family: "roboto_bold", Arial, Sans-serif;
    font-size: 13px;
    background-color: #3498db; }

/*******************************
------------- BOTTOM PANEL
********************************/
/* Titre de la couche interrogée active */
#bottom-panel .mv-header h5 {
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #3498db;
  font-size: 13px; }

/* Boutton de fermeture */
#bottom-panel-btn .fa-chevron-down {
  background: #3498db;
  color: white; }

/*******************************
------------- INFO FEATURE------
********************************/
.popup-content {
  font-family: "roboto_regular", Arial, Sans-serif; }

.popup-content .nav-tabs > li.active > a,
.popup-content .nav-tabs > li.active > a:hover,
.popup-content .nav-tabs > li.active > a:focus {
  border: 0;
  border-left: thick solid #3498db; }

.popup-content .nav-tabs .active .glyphicon,
.popup-content .nav-tabs .active .fa {
  color: #3498db; }

/*******************************
-------------CSS Fiche info GML
********************************/
.gml-item-field-name {
  font-family: "roboto_regular", Arial, Sans-serif; }

.gml-item-field-value {
  font-family: "roboto_regular", Arial, Sans-serif; }

.gml-item-title {
  font-family: "roboto_regular", Arial, Sans-serif;
  color: #3498db;
  font-size: 24px; }

/*******************************
-------------LAYERS PANEL ------
********************************/
#layers-container-box-header {
  background-color: #3498db; }

#layers-container {
  /* Opacité */
  /* Temporalité */ }
  #layers-container a {
    color: #3498db;
    font-family: "roboto_bold", Arial, Sans-serif; }
  #layers-container .mv-layer-options {
    color: #555555; }
  #layers-container .mv-layer-options p {
    font-family: "roboto_regular", Arial, Sans-serif; }
  #layers-container .form-group label {
    font-family: "roboto_bold", Arial, Sans-serif; }
  #layers-container .form-control {
    font-family: "roboto_regular", Arial, Sans-serif;
    color: #555555; }
  #layers-container .datepicker .active {
    background-color: #3498db; }
  #layers-container .mv-layer-options .slider-selection {
    background: #3498db; }
  #layers-container .mv-layer-options .slider-handle {
    background: #3498db; }
  #layers-container .mv-layer-options .tooltip-inner {
    background-color: #3498db;
    border-radius: 4px;
    font-family: "roboto_regular", Arial, Sans-serif; }
  #layers-container .mv-layer-options .tooltip.top .tooltip-arrow {
    border-top-color: #3498db; }
  #layers-container .mv-layer-options .form-group-timer .slider-selection {
    background: #3498db;
    -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0); }
  #layers-container .slider.slider-horizontal .slider-tick-label-container {
    font-family: "roboto_regular", Arial, Sans-serif; }
  #layers-container .slider-tick.round.in-selection {
    background: #3498db;
    background-image: none;
    -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0); }
  #layers-container .form-group-timer .slider-tick.round {
    background: #3498db;
    background-image: none;
    -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0);
    opacity: 1; }
  #layers-container .form-group-timer .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #3498db; }
  #layers-container .mv-layer-options .form-group-timer .slider-track-high {
    background: #3498db; }
  #layers-container span.mv-time-player-selection {
    color: white;
    font-size: 13px;
    background-color: #3498db; }

/*******************************
------------- POPOVER
********************************/
body .popover-content {
  font-family: "roboto_regular", Arial, Sans-serif; }

body .popover-title {
  font-family: "roboto_bold", Arial, Sans-serif; }

/*******************************
---------- BASEMAP CONTROL -----
********************************/
#basemapslist li.active {
  box-shadow: 0px 0px 2px 2px #3498db, 0px 0px 3px 3px rgba(200, 200, 200, 0.5); }

/*******************************
--------- BUTTONS RIGHT TOOLBAR
********************************/
#toolstoolbar .btn-default.enabled {
  background-color: #3498db;
  border-color: #3498db; }

#drawtoolsoptions .btn-default.active,
#drawtoolsoptions .btn-default:active,
#drawtoolsoptions .btn-default:focus,
#drawtoolsoptions .btn-default.focus {
  background-color: #3498db;
  border-color: #3498db; }

/*******************************
------------- ALERTS --------
********************************/
#alerts-zone .alert.alert-info {
  background-color: #3498db;
  color: white; }

#alerts-zone .close {
  color: white;
  text-shadow: 0 1px 0 #000; }

/*******************************
------------- TOOLTIPS --------
********************************/
.tooltip2 {
  background: #3498db;
  font-family: "roboto_regular", Arial, Sans-serif; }

.tooltip-measure-static {
  background-color: #3498db;
  font-family: "roboto_regular", Arial, Sans-serif; }

.tooltip-measure:before,
.tooltip-measure-static:before {
  border-top: 6px solid #3498db; }

.tooltip-measure-static:before {
  border-top-color: #3498db; }

/* Custom-tooltip-infopanel */
.mv-tooltip.tooltip-inner {
  background-color: #3498db;
  padding: 8px 8px 8px;
  color: white;
  font-family: "roboto_regular", Arial, Sans-serif;
  font-size: 11px;
  letter-spacing: 1; }

.tooltip.right .mv-tooltip.tooltip-arrow {
  border-right-color: #3498db; }

.tooltip.top .mv-tooltip.tooltip-arrow {
  border-top-color: #3498db; }

.tooltip.left .mv-tooltip.tooltip-arrow {
  border-left-color: #3498db; }

/*******************************
------------- SEARCH TOOLBAR
********************************/
#searchtool .btn-default {
  color: #3498db; }

#parameterspanel {
  font-family: "roboto_regular", Arial, Sans-serif; }
  #parameterspanel .modal-header {
    color: #555555;
    font-size: 13px; }

/* Search results */
#searchresults {
  font-family: "roboto_regular", Arial, Sans-serif;
  color: #555555; }
  #searchresults a.list-group-item.disabled {
    font-family: "roboto_bold", Arial, Sans-serif; }
  #searchresults a:hover {
    font-family: "roboto_bold", Arial, Sans-serif;
    color: #3498db; }

.searchresults-title {
  background-color: #3498db;
  border-color: #3498db;
  color: white;
  font-family: "roboto_bold", Arial, Sans-serif; }

.searchresults-title .close,
.searchresults-title .close:hover,
.searchresults-title .close:focus,
.searchresults-title .close:active,
.searchresults-title .close:visited {
  color: white; }

/* Partager la carte*/
#sharepanel {
  font-family: "roboto_regular", Arial, Sans-serif; }

/*******************************
------------- HELP PANEL -----
********************************/
#help .nav-tabs {
  border-bottom: 2px solid #3498db; }
#help .nav-tabs > li > a {
  border-radius: 0px 0px 0 0px;
  color: #555555; }
#help .nav-tabs > li.active > a {
  background-color: #3498db;
  border-color: #3498db;
  color: white; }
#help .nav-tabs > li.active > a:hover {
  color: #555555; }
#help .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #3498db;
  color: #3498db; }
#help .modal-title {
  font-size: 25px;
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #3498db; }
#help .tab-pane h4 {
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #3498db;
  font-size: 22px;
  margin-top: 20px; }
#help .tab-pane h5 {
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #3498db;
  font-size: 16px;
  margin-bottom: 2px; }
#help .tab-pane h6 {
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #3498db;
  font-size: 14px;
  margin-bottom: 2px; }
#help .tab-pane p {
  color: #555555;
  font-size: 13px;
  text-align: justify; }
#help .tab-pane .visuel_tx {
  color: #555555;
  font-size: 13px; }
#help .tab-pane .visuel {
  text-align: center; }

/*******************************
-------------LOADER INDICATOR
********************************/
.mv-layer-indicator .loader {
  border-top: 1.1em solid rgba(3, 46, 70, 0.2);
  border-right: 1.1em solid rgba(3, 46, 70, 0.2);
  border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
  border-left: 1.1em solid #3498db; }

.mv-iframe-indicator .loader {
  border-top: 1.1em solid rgba(3, 46, 70, 0.2);
  border-right: 1.1em solid rgba(3, 46, 70, 0.2);
  border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
  border-left: 1.1em solid #3498db; }

#mv-navbar {
  font-family: "roboto_bold", Arial, Sans-serif; }

#mv-navbar.navbar-default .navbar-nav > li > a {
  color: white; }

@media (max-width: 991px) {
  #legend-modal .modal-header,
  #modal-panel .modal-header,
  #sharepanel .modal-header,
  #thematic-modal .modal-header {
    background: #3498db;
    color: white;
    padding: 12px 15px;
    font-family: "roboto_regular", Arial, Sans-serif; }

  #legend-modal .modal-header .close,
  #sharepanel .modal-header .close,
  #modal-panel .modal-header .close,
  #thematic-modal .modal-header .close {
    color: white;
    opacity: .9; } }
