.git
.git/**
.github
.vscode
docs
node_modules

Dockerfile*
docker-compose*.yml
.dockerignore
.gitignore
.gitmodules
.htaccess

package.json
package-lock.json
.prettier*
.readthedocs.yaml

CONTRIBUTING.md
README.md
