<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--<mapoptions projection="EPSG:2154" extent="145518,6726671,372058,6868691"  />-->
    <mapoptions maxzoom="18" projection="EPSG:3857" center="-403013.39038929436,6128402.399153711" zoom="8" projextent="-20037508.342789244, -20037508.342789244, 20037508.342789244, 20037508.342789244" />
    <![CDATA[<baselayers style="gallery"><!-- style="default"||gallery" -->        
        <baselayer  type="WMS" id="plan1" label="Plan" title="Plan OSM Géobretagne" thumbgallery="img/basemap/osm-map-bing.png" url="http://geobretagne.fr/geoserver/osm/wms" layers="map-bing" format="image/png" visible="false" attribution="OpenStreetMap CC-by-SA"/>
        <baselayer  type="WMS" id="photo1" label="Photo aérienne" title="Ortho Géobretagne" thumbgallery="img/basemap/ortho.jpg" url="http://tile.geobretagne.fr/gwc02/service/wms" layers="satellite" format="image/jpeg" visible="false" attribution="partenaires GéoBretagne - IGN RGE BD ORTHO - PlanetObserver"/>
        <baselayer  type="WMTS" id ="ortho3" label="Photo aérienne 2000" title="Ortho Géoportail" thumbgallery="img/basemap/ortho.jpg" url="http://gpp3-wxs.ign.fr/5kiwvtkb2v23y0x8chidxbij/wmts" layers="ORTHOIMAGERY.ORTHOPHOTOS2000-2005" format="image/jpeg" visible="false" attribution="IGN" style="normal" matrixset="PM" minresolution="0.4"/>
		<baselayer  type="WMS" id="photo2" label="Bretagne 1950" title="Ortho de 1952 Géobretagne" thumbgallery="img/basemap/ortho-ancien.jpg" url="http://tile.geobretagne.fr/gwc02/service/wms" layers="satellite-ancien" format="image/jpeg" visible="false" attribution="partenaires GéoBretagne - IGN"/>
		<baselayer  type="OSM" id="osm1" label="OSM" title="OSM france" thumbgallery="img/basemap/osm-france.png" url="http://a.tile.openstreetmap.fr/osmfr/${z}/${x}/${y}.png,http://b.tile.openstreetmap.fr/osmfr/${z}/${x}/${y}.png,http://c.tile.openstreetmap.fr/osmfr/${z}/${x}/${y}.png" attribution="OpenStreetMap CC-by-SA" visible="true"/>
        <baselayer  type="OSM" id="stamen1" label="PlanNB" title="OSM Stamen Toner" thumbgallery="img/basemap/nb.png" url="http://a.tile.stamen.com/toner-lite/${z}/${x}/${y}.png,http://b.tile.stamen.com/toner-lite/${z}/${x}/${y}.png,http://c.tile.stamen.com/toner-lite/${z}/${x}/${y}.png" visible="false" attribution="OpenStreetMap CC-by-SA"/>
		<baselayer  type="OSM" id="stamen2" label="Aqua" title="OSM Stamen Watercolor" thumbgallery="img/basemap/aqua.png" url="http://a.tile.stamen.com/watercolor/${z}/${x}/${y}.jpg,http://b.tile.stamen.com/watercolor/${z}/${x}/${y}.jpg,http://c.tile.stamen.com/watercolor/${z}/${x}/${y}.jpg" visible="false" attribution="OpenStreetMap CC-by-SA"/>
        <!--<baselayer  type="WMTS" id="scan1" label="Scan IGN" title="Scan express du Géoportail" maxscale="4000" url="http://kartenn.region-bretagne.fr/cgi-bin/wmts" layers="GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD" format="image/jpeg" visible="false" attribution="IGN" style="normal" matrixset="PM" minresolution="0.4"/>
		<baselayer  type="WMTS" id="scan2" label="Cartes IGN" title="Cartes IGN du Géoportail" maxscale="2000" url="http://kartenn.region-bretagne.fr/cgi-bin/wmts" layers="GEOGRAPHICALGRIDSYSTEMS.MAPS" format="image/jpeg" visible="false" attribution="IGN" style="normal" matrixset="PM" minresolution="0.4"/>
		<baselayer  type="WMTS" id="emajor" label="Etat major" title="Carte d'état major du Géoportail" maxscale="4000" url="http://gpp3-wxs.ign.fr/5kiwvtkb2v23y0x8chidxbij/wmts" layers="GEOGRAPHICALGRIDSYSTEMS.ETATMAJOR40" format="image/jpeg" visible="false" attribution="IGN" style="normal" matrixset="PM" minresolution="0.4"/>-->
        <!--<baselayer  type="WMTS" id="plan2" label="ff2" title="Plan OSM WMTS Géobretagne" maxscale="1000" url="http://geobretagne.fr/gwc01/service/wmts" layers="osm:bing" format="image/png" visible="false" attribution="OSM" style="_null" matrixset="EPSG:3857" minresolution="0.4"/>
		<baselayer  type="WMTS" id="ortho2" label="ff1" title="Ortho WMTS Géobretagne" maxscale="1000" url="http://tile.geobretagne.fr/gwc02/service/wmts" layers="satellite" format="image/jpeg" visible="false" attribution="GéoBretagne" style="_null" matrixset="EPSG:3857" minresolution="0.4"/>-->
        <!--<baselayer  type="WMTS" label="wmts" title="Plan OSM WMTS Géobretagne" url="http://geobretagne.fr/gwc01/service/wmts" layers="imposm:default" format="image/png" visible="false" attribution="OSM" style="_null" matrixset="EPSG:3857" minresolution="0.4"/>-->
    </baselayers>]]>
	
<![CDATA[ ------------------------------BASELAYERS ----------------------------------
L'attribut style = "gallery" permet d'afficher les fonds de carte dans une liste avec incrustation de vignette pour chaque layer
L'attribut style = "default" permet d'afficher la liste des couches de fond sous forme d'un groupe de boutons.
]]>	
	<baselayers style="gallery"><!-- style="default"||gallery" -->            		
        <baselayer  type="WMTS" id="ortho1" label="Photo aérienne actuelle" title="GéoPortail" maxscale="1000" thumbgallery="img/basemap/ortho.jpg"
            url="../wmts" layers="ORTHOIMAGERY.ORTHOPHOTOS" format="image/jpeg" visible="false" fromcapacity="false"
            attribution="&lt;a href='http://www.geoportail.fr/' target='_blank'>&lt;img src='http://api.ign.fr/geoportail/api/js/latest/theme/geoportal/img/logo_gp.gif'>&lt;/a>" style="normal" matrixset="PM" maxzoom="22"/>
        <!--<baselayer  type="WMTS" id="ortho1" label="Photo aérienne actuelle" title="GéoBretagne" thumbgallery="img/basemap/ortho.jpg" 
            url="http://tile.geobretagne.fr/gwc02/service/wmts" layers="satellite" format="image/png" visible="false"
            attribution="&lt;a href='http://applications.region-bretagne.fr/geosource/apps/search/?uuid=3a0ac2e3-7af1-4dec-9f36-dae6b5a8c731' target='_blank' >partenaires GéoBretagne - IGN RGE BD ORTHO - PlanetObserver&lt;/a>" style="_null" matrixset="EPSG:3857" fromcapacity="false"/>-->
        <baselayer  type="WMS" id="photo2" label="Photo aérienne 1950" title="GéoBretagne" thumbgallery="img/basemap/ortho-ancien.jpg" 
			url="http://tile.geobretagne.fr/gwc02/service/wms" layers="satellite-ancien" format="image/jpeg" visible="false" 
			attribution="&lt;a href='http://applications.region-bretagne.fr/geosource/apps/search/?uuid=048622c5-b333-4c2b-94ec-40a41608dc06' target='_blank' >Partenaires GéoBretagne - IGN&lt;/a>"/>      
        <baselayer  type="OSM" id="osm1" label="MapQuest" title="open.mapquest.com" thumbgallery="img/basemap/mapquest.png" 
			url="http://otile{1-3}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png" 
			attribution="© MapQuest. Données : les contributeurs d'&lt;a href='http://www.openstreetmap.org/' target='_blank'>OpenStreetMap &lt;/a>,  &lt;a href='http://www.openstreetmap.org/copyright' target='_blank'>ODbL &lt;/a>" visible="true"/>
        <baselayer  type="OSM" id="stamen2" label="Watercolor" title="Stamen Design" thumbgallery="img/basemap/watercolor.jpg" 
			url="http://{a-c}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg" maxzoom="20" 
			visible="false" attribution="Map tiles by  &lt;a href='http://stamen.com/'>Stamen Design &lt;/a>, under  &lt;a href='http://creativecommons.org/licenses/by/3.0/'>CC BY 3.0 &lt;/a>" />
        <baselayer  type="OSM" id="stamen1" label="Toner-lite" title="Stamen Design" thumbgallery="img/basemap/toner-lite.png" 
			url="http://{a-d}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png" maxzoom="20" 
			visible="false" attribution="Map tiles by  &lt;a href='http://stamen.com/'>Stamen Design &lt;/a>, under  &lt;a href='http://creativecommons.org/licenses/by/3.0/'>CC BY 3.0 &lt;/a>" />		  
        <baselayer  type="WMTS" id="scan2" label="Cartes IGN" title="GéoPortail" maxscale="2000" thumbgallery="img/basemap/scan.jpg"
            url="../wmts" layers="GEOGRAPHICALGRIDSYSTEMS.MAPS" format="image/jpeg" visible="false" fromcapacity="false"
            attribution="&lt;a href='http://www.geoportail.fr/' target='_blank'>&lt;img src='http://api.ign.fr/geoportail/api/js/latest/theme/geoportal/img/logo_gp.gif'>&lt;/a>" style="normal" matrixset="PM" maxzoom="22"/>
    </baselayers> 
    <authentification url="who" loginurl="?login" logouturl="../j_spring_security_logout" enabled="true"/>
    <proxy url="../proxy/?url="/>
    <!--<olscompletion url="http://gpp3-wxs.ign.fr/5kiwvtkb2v23y0x8chidxbij/ols/apis/completion"/>-->
    <olscompletion url="../olscompletion" type="geoportail"/>
    <!--<olscompletion url="http://api-adresse.data.gouv.fr/search/" type="ban"/>-->
    <elasticsearch url="" geometryfield="geometry" querymode="fussy_like_this"/>
    <searchparameters bbox="false" localities="true" features="false"/>
	<widgets>
       <!--<widget name="gauge"/>-->       
    </widgets> 

    <themes>
        <theme name="Formation"  id="formation" collapsed="true">
            <layer id="lycee" name="Lycée" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb"
				queryable="true" fields="nom,photo,libelle,secteur_li,reseau_lib" aliases="Nom,Photo,Commune,Secteur,Réseau" 
                infoformat="text/html" featurecount="5"
				style="" 
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				attribution="Région Bretagne" 
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=99e78163-ce9a-4eee-9ea0-36afc2a53d25" 
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=99e78163-ce9a-4eee-9ea0-36afc2a53d25" />
			<layer id="site_cfa" name="Centre de formation d'apprentis" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb"
				queryable="true" fields="cfa,site_adr1,site_cp,site_ville,site_inter" aliases="Nom,Adresse,CP,Ville, Site Web"
                infoformat="text/html" featurecount="5"               
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				style="" 
				attribution="Région Bretagne" 
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=f713de6d-1269-40b2-8bd4-3704c106fde6" 
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=f713de6d-1269-40b2-8bd4-3704c106fde6" />                    
		</theme>		
        <theme name="Transport collectif régional"  collapsed="true" id="transport">
            <layer id="transport_regional_arret" name="Point d'arrêt régional" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb" 
				queryable="true" fields="nom_pa" aliases="Nom" 
                infoformat="application/vnd.ogc.gml" featurecount="5"                
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				style="" 
				attribution="Région Bretagne" 
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=a856d070-c900-44db-8020-7892a3071293"
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=a856d070-c900-44db-8020-7892a3071293" />                
			<layer id="transport_regional_ligne" name="Ligne régionale" visible="false" scalemin="0" scalemax="50000000" tiled="false" namespace="rb" 
				queryable="true" fields="libelle" aliases="Nom" 
                infoformat="text/html" featurecount="1"
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				style="" 
				attribution="Région Bretagne" 
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=9d19c331-3941-4545-8409-ec18cf88a544"
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=9d19c331-3941-4545-8409-ec18cf88a544" />
        </theme>    
        <theme name="Transport maritime et fluvial"  collapsed="true" id="maritime"> 
             <layer id="ecluse" name="Ecluse" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb"
					queryable="true" fields="nom_ecluse,photo" aliases="Nom,Photo"
                    infoformat="text/html" featurecount="5"
					url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
					style="" 
					attribution="Région Bretagne" 
					metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=774a2065-339f-4802-a50f-4b84b6ca249f"
					metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=774a2065-339f-4802-a50f-4b84b6ca249f" />  
             <layer id="port" name="Port" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb" 
					queryable="true" fields="libelle_po,statut" aliases="Nom,Statut"
                    infoformat="text/html" featurecount="1"                    
					url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
					style="" 
					attribution="Région Bretagne" 
					metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=c55c4fba-6a37-48ea-8754-a1bf770a684b"
					metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=c55c4fba-6a37-48ea-8754-a1bf770a684b" />                
             <layer id="voie_navigable" name="Voie navigable" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb"
					queryable="true" fields="nom,proprietaire,concession,gestionnaire" aliases="Nom,Propriétaire,Concessionnaire,Gestionnaire"
                    infoformat="text/html" featurecount="1"
					url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
					style="" 
					attribution="Région Bretagne" 
					metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=7cab44b0-4639-43f2-a824-3eecb7d3bf66"
					metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=7cab44b0-4639-43f2-a824-3eecb7d3bf66" /> 
        </theme> 
        <theme name="Inventaire du patrimoine"  collapsed="true" id="patrimoine">           
			<layer id="inventaire_patrimoine" name="Patrimoine régional" scalemin="0" scalemax="50000000" visible="false" tiled="true" namespace="rb"
				queryable="true" fields="denominati,titre,url" aliases="Nom,Description,Glad"
                infoformat="text/html" featurecount="5"
				style="" 
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				attribution="Service de l'inventaire : Région Bretagne" 
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=a7f46b47-42fc-49b7-9b49-c7c11aee0932"
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=a7f46b47-42fc-49b7-9b49-c7c11aee0932" />
            <layer id="recensement_patrimoine" name="Recensement local" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb" 
				queryable="true" fields="titre,localisati,datation,photo_1" aliases="Titre,Localisation,Datation,Photo" 
				infoformat="text/html" featurecount="5"
                style="recensement_rond" 
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				attribution="Service de l'inventaire : Région Bretagne" 
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=0cf6de5d-9746-44d8-b003-a2dae2e7e585"
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=0cf6de5d-9746-44d8-b003-a2dae2e7e585" /> 
        </theme>
        <theme name="Espaces naturels"  collapsed="true" id="nature"> 
            <layer id="reserve_naturelle_regionale" name="Réserve Naturelle Régionale" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb"
				queryable="true" fields="rnr_nom,image,dt_creation" aliases="Nom,photo,date de création"
                infoformat="text/html" featurecount="1"
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				style="" 
				attribution="Région Bretagne" 
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=77f8fc52-ae57-41d1-8f08-7b121b013f51"
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=77f8fc52-ae57-41d1-8f08-7b121b013f51" />	
        </theme>
       <theme name="Solidarité internationale"  collapsed="true" id="solidarite"> 
            <layer id="acteurs_abcis" name="Acteurs ABCIS" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb"
				queryable="true" fields="nom" aliases="Nom"
                infoformat="text/html" featurecount="5" 
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				style=""
				attribution="Région Bretagne" 
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=eb7dc7ab-05e1-4bb5-a4f3-ef25d7782025"
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=eb7dc7ab-05e1-4bb5-a4f3-ef25d7782025" />	
            <layer id="actions_abcis" name="Actions ABCIS" scalemin="0" scalemax="500000000" visible="false" tiled="false" namespace="rb"
				queryable="true" fields="nom" aliases="Nom"
                infoformat="text/html" featurecount="5" 
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				style=""
				attribution="Région Bretagne" 
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=c000f649-6760-4fbd-aae3-22005a7b9354"
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=c000f649-6760-4fbd-aae3-22005a7b9354" />	
        </theme>
        <theme name="Sites régionaux"  collapsed="true" id="sites"> 
            <layer id="sites_region" name="Sites région" scalemin="0" scalemax="50000000" visible="false" tiled="false" namespace="rb"
				queryable="true" fields="nom_batiment,adresse,code_postal,ville,telephone" aliases="Batiment,Adresse,Code Postal,Ville,Téléphone"
                infoformat="text/html" featurecount="5" 
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				style=""
				attribution="Région Bretagne" 
				metadata-csw="http://applications.region-bretagne.fr/geosource/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=a6dde882-4334-4ce0-909f-adb8597ada97"
				metadata="http://applications.region-bretagne.fr/geosource/apps/search/?uuid=a6dde882-4334-4ce0-909f-adb8597ada97" />	
        </theme>
        <theme name="Limites cadastrales"  collapsed="true" id="cadastre">  
			<layer id="CP.CadastralZoning" name="Sections" scalemin="0" scalemax="50000" visible="false" tiled="false"
				queryable="false" fields="label,nom_commune" aliases="Section,Commune"
                infoformat="application/vnd.ogc.gml" featurecount="1"
				style="cadastre_section_rb" 
				url="http://geobretagne.fr/geoserver/cadastre/wms" 
				attribution="DGFIP" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=0ca82e1d-b487-4879-8185-56b7c4e1a948" 
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=0ca82e1d-b487-4879-8185-56b7c4e1a948" />                        
            <layer id="CP.CadastralBuilding" name="Bâti" scalemin="0" scalemax="25000" visible="false" tiled="true"
				queryable="false" fields="" aliases=""
                infoformat="application/vnd.ogc.gml" featurecount="1"                
				style="cadastre_bati_rb" 
				url="http://geobretagne.fr/geoserver/cadastre/wms" 
				attribution="DGFIP" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=0ca82e1d-b487-4879-8185-56b7c4e1a948"
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=0ca82e1d-b487-4879-8185-56b7c4e1a948" />	
            <layer id="CP.CadastralParcel" name="Parcelle cadastrale" scalemin="0" scalemax="50000" visible="false" tiled="true"
				queryable="true" fields="label,nom_commune,areavalue" aliases="Parcelle,Commune,Surface"
                infoformat="application/vnd.ogc.gml" featurecount="1"             
				style="cadastre_parcelle_rb" 
				url="http://geobretagne.fr/geoserver/cadastre/wms" 
				attribution="DGFIP" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=0ca82e1d-b487-4879-8185-56b7c4e1a948" 
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=0ca82e1d-b487-4879-8185-56b7c4e1a948" />
		</theme>
        <theme name="Limites administratives"  collapsed="true" id="territoire">  
			<layer id="commune_bdcarto" name="Commune" scalemin="0" scalemax="50000000" visible="false" tiled="false"
				queryable="true" fields="COMMUNE,INSEE_COM,SUPERFICIE" aliases="Nom,Code INSEE,Superficie"
                infoformat="text/html" featurecount="1"                
				style="commune_region" 
				url="http://geobretagne.fr/geoserver/dreal_b/wms" 
				attribution="IGN - BDCARTO" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=b08e6cb1-236c-49b7-88f9-42b500d274d5"
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=b08e6cb1-236c-49b7-88f9-42b500d274d5" />			
			<layer id="EPCI_053" name="Intercommunalité" scalemin="0" scalemax="50000000" visible="false" tiled="false"
				queryable="true" fields="NOM_EPCI,SIREN_EPCI" aliases="Nom,SIREN"
                infoformat="text/html" featurecount="1"
				style="epci_region" 
				url="http://geobretagne.fr/geoserver/dreal_b/wms" 
				attribution="GéoBretagne" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=2298d744-49cb-4fcb-9487-26f916fecdff" 
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=2298d744-49cb-4fcb-9487-26f916fecdff" />			
            <layer id="n_pays" name="Pays" scalemin="0" scalemax="50000000" visible="true" tiled="true"
				queryable="true" fields="LIBELLE" aliases="Nom"
                infoformat="text/html" featurecount="1"             
				style="pays_region" 
				url="http://geobretagne.fr/geoserver/dreal_b/wms" 
				attribution="GéoBretagne" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=9722d181-75f9-40ab-a136-a9f9ed6f29a5" 
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=9722d181-75f9-40ab-a136-a9f9ed6f29a5" />
            <layer id="FDepartement" name="Département" scalemin="0" scalemax="50000000" visible="false" tiled="false"
				queryable="true" fields="NOM_PAYS" aliases="Nom"
                infoformat="text/html" featurecount="1"
				style="" 
				url="http://geobretagne.fr/geoserver/dreal_b/wms" 
				attribution="IGN - BDCARTO" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=e16d50d4-746d-44e3-a5e7-5fc000f97665" 
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=e16d50d4-746d-44e3-a5e7-5fc000f97665" />
        </theme>
    </themes>
</config>
