<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--<mapoptions projection="EPSG:2154" extent="145518,6726671,372058,6868691"  />-->
    <application title="Kartenn" logo="img/logo/geobretagne.png" help=""  exportpng="false" measuretools="true" style="css/themes/blue.css"/>
    <mapoptions maxzoom="18" projection="EPSG:3857" center="-403013.39038929436,6128402.399153711" zoom="8" projextent="-20037508.342789244, -20037508.342789244, 20037508.342789244, 20037508.342789244" />
    
	<baselayers style="gallery"><!-- style="default"||gallery" -->
        <baselayer  type="WMTS" id="ortho1" label="Photo aérienne actuelle" title="GéoBretagne" thumbgallery="img/basemap/ortho.jpg" 
            url="http://tile.geobretagne.fr/gwc02/service/wmts" layers="satellite" format="image/png" visible="false"
            attribution="&lt;a href='http://applications.region-bretagne.fr/geonetwork/?uuid=3a0ac2e3-7af1-4dec-9f36-dae6b5a8c731' target='_blank' >partenaires GéoBretagne - IGN RGE BD ORTHO - PlanetObserver&lt;/a>" style="_null" matrixset="EPSG:3857" fromcapacity="false"/>
        <baselayer  type="WMS" id="photo2" label="Photo aérienne 1950" title="GéoBretagne" thumbgallery="img/basemap/ortho-ancien.jpg" 
			url="http://geobretagne.fr/geoserver/photo/wms" layers="satellite-ancien" format="image/jpeg" visible="false" 
			attribution="&lt;a href='http://applications.region-bretagne.fr/geonetwork/?uuid=048622c5-b333-4c2b-94ec-40a41608dc06' target='_blank' >Partenaires GéoBretagne - IGN&lt;/a>"/>      
        <baselayer  type="OSM" id="osm1" label="OpenStreetMap" title="OpenSTreetMap" thumbgallery="img/basemap/osm.png" 
			url="http://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png" 
			attribution="Données : les contributeurs d'&lt;a href='http://www.openstreetmap.org/' target='_blank'>OpenStreetMap &lt;/a>,  &lt;a href='http://www.openstreetmap.org/copyright' target='_blank'>ODbL &lt;/a>" visible="true"/>
        <baselayer  type="OSM" id="stamen2" label="Watercolor" title="Stamen Design" thumbgallery="img/basemap/watercolor.jpg" 
			url="http://{a-c}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg" maxzoom="20" 
			visible="false" attribution="Map tiles by  &lt;a href='http://stamen.com/'>Stamen Design &lt;/a>, under  &lt;a href='http://creativecommons.org/licenses/by/3.0/'>CC BY 3.0 &lt;/a>" />
        <baselayer  type="OSM" id="stamen1" label="Toner-lite" title="Stamen Design" thumbgallery="img/basemap/toner-lite.png" 
			url="http://{a-d}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png" maxzoom="20" 
			visible="false" attribution="Map tiles by  &lt;a href='http://stamen.com/'>Stamen Design &lt;/a>, under  &lt;a href='http://creativecommons.org/licenses/by/3.0/'>CC BY 3.0 &lt;/a>" />
    </baselayers> 
    <authentification url="who" loginurl="?login" logouturl="../j_spring_security_logout" enabled="true"/>
    <proxy url="../proxy/?url="/>
    <olscompletion url="http://api-adresse.data.gouv.fr/search/" type="ban" attribution="La recherche d'adresse est un service proposé par l'API adresse.data.gouv.fr"/>
    <elasticsearch url="http://ows.region-bretagne.fr/kartenn/_search" geometryfield="geometry" linkid="search_id" querymode="fussy_like_this" />
    <searchparameters bbox="true" localities="true" features="true"/>	

    <themes>        
        <theme name="Formation"  id="formation" collapsed="true" icon="book">
            <layer id="lycee" name="Lycée" visible="true" tiled="false" namespace="rb"
				queryable="true" fields="nom,photo,libelle,secteur_li,reseau_lib" aliases="Nom,Photo,Commune,Secteur,Réseau" 
                searchable="true" 
                infoformat="text/html" featurecount="20"
				style="lycee_secteur_picto,lycee_reseau"
                opacity="0.5"            
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				attribution="Région Bretagne" 
				metadata="http://applications.region-bretagne.fr/geonetwork/?uuid=99e78163-ce9a-4eee-9ea0-36afc2a53d25" 
				metadata-csw="http://applications.region-bretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=99e78163-ce9a-4eee-9ea0-36afc2a53d25" />
			<layer id="cfa_site" name="Centre de formation d'apprentis" visible="false" tiled="false" namespace="rb"
				queryable="true" fields="cfa,site_adr1,site_cp,site_ville,site_inter" aliases="Nom,Adresse,CP,Ville, Site Web"
                searchable="true"
                infoformat="text/html" featurecount="20"               
				url="http://ows.region-bretagne.fr/geoserver/rb/wms" 
				style="" 
				attribution="Région Bretagne" 
				metadata="http://applications.region-bretagne.fr/geonetwork/?uuid=f713de6d-1269-40b2-8bd4-3704c106fde6" 
				metadata-csw="http://applications.region-bretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=f713de6d-1269-40b2-8bd4-3704c106fde6" />                    
		</theme>
        <theme name="Limites administratives"  collapsed="true" id="territoire">  
			<layer id="commune_bdcarto" name="Commune" visible="false" tiled="false"
				queryable="true" fields="COMMUNE,INSEE_COM,SUPERFICIE" aliases="Nom,Code INSEE,Superficie"
                infoformat="text/html" featurecount="5"                
				style="commune_region" 
				url="http://geobretagne.fr/geoserver/dreal_b/wms" 
				attribution="IGN - BDCARTO" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=b08e6cb1-236c-49b7-88f9-42b500d274d5"
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=b08e6cb1-236c-49b7-88f9-42b500d274d5" />			
			<layer id="EPCI_053" name="Intercommunalité" visible="false" tiled="false"
				queryable="true" fields="NOM_EPCI,SIREN_EPCI" aliases="Nom,SIREN"
                filter="" 
                searchable="true" searchid="SIREN_EPCI" 
                infoformat="text/html" featurecount="5"
				style="epci_region" 
                opacity="0.5" 
				url="http://geobretagne.fr/geoserver/dreal_b/wms" 
				attribution="GéoBretagne" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=2298d744-49cb-4fcb-9487-26f916fecdff" 
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=2298d744-49cb-4fcb-9487-26f916fecdff" />			
            <layer id="n_pays" name="Pays" visible="false" tiled="true"
				queryable="true" fields="LIBELLE" aliases="Nom"
                infoformat="text/html" featurecount="5"             
				style="pays_region" 
				url="http://geobretagne.fr/geoserver/dreal_b/wms" 
				attribution="GéoBretagne" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=9722d181-75f9-40ab-a136-a9f9ed6f29a5" 
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=9722d181-75f9-40ab-a136-a9f9ed6f29a5" />
            <layer id="FDepartement" name="Département" visible="false" tiled="false"
				queryable="true" fields="NOM_PAYS" aliases="Nom"
                infoformat="text/html" featurecount="5"
				style="" 
				url="http://geobretagne.fr/geoserver/dreal_b/wms" 
				attribution="IGN - BDCARTO" 
				metadata="http://geobretagne.fr/geonetwork/apps/georchestra/?uuid=e16d50d4-746d-44e3-a5e7-5fc000f97665" 
				metadata-csw="http://geobretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=e16d50d4-746d-44e3-a5e7-5fc000f97665" />
        </theme>
    </themes>
</config>
