/**
 * This file contains the style definitions for the output
 *
 */
.wpgpxmaps img,
.entry-content .wpgpxmaps img,
#content .wpgpxmaps img {
	width: none;
	max-width: none;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

.wpgpxmaps {
	clear: both;
}

.wpgpxmaps .ngimages {
	display: none;
}

.wpgpxmaps .myngimages {
	position: absolute;
	z-index :1;
	margin:0;
	border: 1px solid #fff;
	cursor: pointer;
}

.wpgpxmaps_summary .summarylabel {
	font-weight: 400;
}

.wpgpxmaps_summary .summaryvalue {
	font-weight: 600;
}

.wpgpxmaps .report {
	line-height :120;
}

.wpgpxmaps .wpgpxmaps_osm_footer {
	position: absolute;
	z-index: 999;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 13px;
	margin: 0;
	background: #fff;
	font-size: 12px;
}

.wpgpxmaps .wpgpxmaps_osm_footer span {
	position: absolute;
	bottom: 0;
	padding: 0 6px 6px 6px;
	background: #fff;
	vertical-align: baseline;
}
