/******************************************************************************
--------------------------- CSS THEME MVIEWER / AMETHYST ----------------------
********************************************************************************/


$font-bold: 'roboto_bold', Arial, Sans-serif;
$font-regular: 'roboto_regular', Arial, Sans-serif;
$theme-color-1: #9b59b6;
$theme-color-2: #ffffff;
$text-color-1: #555;
$loader-color: rgba(3, 46, 70, 0.2);
$transparent: rgba(0,0,0,0);
$menu-background-color: #f8f8f8;

@import 'theme';