/*******************************
------------- FONTS -----------
********************************/

		@font-face {
		    font-family: 'roboto_bold';
		    src: url('../font/Roboto/Roboto-Bold.ttf');
		}
		@font-face {
		    font-family: 'roboto_regular';
		    src: url('../font/Roboto/Roboto-Regular.ttf');
		}

/*******************************
------------- GENERAL -----------
********************************/

.mv-theme {
  background-color: $theme-color-1;
  color: $theme-color-2;
}

/*******************************
------------- NAVBAR -----------
********************************/

#mv-navbar {
    border-color:$theme-color-1;
	background-color: $theme-color-1;

    .navbar-brand {
        color:$theme-color-2;
        font-size: 20px;
    }

    .mv-title{
        color: $theme-color-2;
        font-size: 18px;
        font-family: $font-bold;
        letter-spacing: 0.5px;
    }

    .navbar-toggle{
        border-color: $theme-color-1;
        color: $theme-color-2;
    }

    /* Help button */

    .mv-navbar-btn{
        color:$theme-color-1;
    }
}



/*******************************
------------- MAP CONTROLS -----
********************************/

#map {
    .ol-control button {
      color: $theme-color-2;
      background-color: $theme-color-1;
    }

    .ol-control button:focus, #map .ol-control button:hover {
      background-color: $theme-color-1;
    }

    .ol-scale-line-inner{
        font-family: $font-regular
    }
}

/*******************************
------------- LEFT PANEL -------
********************************/

/* thematic title */

#menu>li>a{
	font-family:$font-bold;
}

/* group & layer title */

#sidebar-wrapper a{
	font-family:$font-regular
}

/* all titles hover */

#menu li a:hover{
	border-left:$theme-color-1 0px solid;
	background:$theme-color-1;
	color: $menu-background-color;
}


/*******************************
------------- RIGHT PANEL ------
********************************/

/* Titre de la couche interrogée active */

#right-panel .mv-header {
      background-color: $theme-color-1;
      h5 {
          color: $theme-color-2;
          font-family: $font-bold;
          font-size: 13px;
          background-color: $theme-color-1;
      }
}


/*******************************
------------- BOTTOM PANEL
********************************/

/* Titre de la couche interrogée active */

#bottom-panel .mv-header h5{
	font-family:$font-bold;
	color: $theme-color-1;
	font-size:13px;
}

/* Boutton de fermeture */

#bottom-panel-btn .fa-chevron-down {
    background: $theme-color-1;
    color:$theme-color-2;
}



/*******************************
------------- INFO FEATURE------
********************************/

.popup-content {
    font-family: $font-regular;
}

.popup-content .nav-tabs > li.active > a,
.popup-content .nav-tabs > li.active > a:hover,
.popup-content .nav-tabs > li.active > a:focus {
  border: 0;
  border-left: thick solid $theme-color-1;
}

.popup-content .nav-tabs .active .glyphicon,
.popup-content .nav-tabs .active .fa {
  color: $theme-color-1;
}

/*******************************
-------------CSS Fiche info GML
********************************/

.gml-item-field-name {
	font-family: $font-regular
}

.gml-item-field-value{
	font-family: $font-regular
}

.gml-item-title {
    font-family: $font-regular;
	color:$theme-color-1;
    font-size: 24px;
}



/*******************************
-------------LAYERS PANEL ------
********************************/

#layers-container-box-header {
  background-color: $theme-color-1;
}

#layers-container {
      a {
        color: $theme-color-1;
        font-family: $font-bold;
    }

    .mv-layer-options{
        color:$text-color-1;
    }

    .mv-layer-options p {
        font-family: $font-regular
    }

    .form-group label {
        font-family: $font-bold;
    }

    .form-control{
        font-family: $font-regular;
        color:$text-color-1;
    }

    .datepicker .active {
        background-color: $theme-color-1;
    }

    /* Opacité */
    .mv-layer-options  .slider-selection{
        background:$theme-color-1;
    }

    .mv-layer-options .slider-handle {
        background: $theme-color-1;
    }

    .mv-layer-options .tooltip-inner{
        background-color:$theme-color-1;
        border-radius: 4px;
        font-family: $font-regular
    }

    .mv-layer-options .tooltip.top .tooltip-arrow{
        border-top-color:$theme-color-1;
    }

    /* Temporalité */

    .mv-layer-options  .form-group-timer .slider-selection{
        background:$theme-color-1;
        -webkit-box-shadow:inset 0 0px 0 $transparent;
    }

    .slider.slider-horizontal .slider-tick-label-container{
        font-family:$font-regular
    }

    .slider-tick.round.in-selection{
        background: $theme-color-1;
        background-image: none;
        -webkit-box-shadow:inset 0 0px 0 $transparent;
    }

    .form-group-timer .slider-tick.round{
        background:$theme-color-1;
        background-image:none;
        -webkit-box-shadow:inset 0 0px 0 $transparent;
        opacity: 1;
    }

    .form-group-timer .tooltip.bottom .tooltip-arrow{
        border-bottom-color:$theme-color-1;
    }

    .mv-layer-options  .form-group-timer .slider-track-high{
        background:$theme-color-1;
    }

    span.mv-time-player-selection {
        color: $theme-color-2;
        font-size: 13px;
        background-color: $theme-color-1;
    }

}



/*******************************
------------- POPOVER
********************************/
body .popover-content{
	font-family: $font-regular;
}

body .popover-title{
	font-family: $font-bold;
}

/*******************************
---------- BASEMAP CONTROL -----
********************************/

#basemapslist  li.active{
    box-shadow: 0px 0px 2px 2px $theme-color-1, 0px 0px 3px 3px rgba(200, 200, 200, 0.5);
}



/*******************************
--------- BUTTONS RIGHT TOOLBAR
********************************/
#toolstoolbar .btn-default.enabled{
	background-color: $theme-color-1;
	border-color: $theme-color-1;
}

#drawtoolsoptions  {
    .btn-default.active,
    .btn-default:active,
    .btn-default:focus,
    .btn-default.focus {
        background-color:$theme-color-1;
        border-color:$theme-color-1;
    }
}



/*******************************
------------- ALERTS --------
********************************/

#alerts-zone .alert.alert-info {
  background-color: $theme-color-1;
  color: $theme-color-2;
}

#alerts-zone .close {
  color: $theme-color-2;
  text-shadow: 0 1px 0 #000;
}


/*******************************
------------- TOOLTIPS --------
********************************/

.tooltip2 {
  background: $theme-color-1;
  font-family: $font-regular
}

.tooltip-measure-static {
  background-color: $theme-color-1;
  font-family: $font-regular
}

.tooltip-measure:before,
.tooltip-measure-static:before {
  border-top: 6px solid $theme-color-1;
}

.tooltip-measure-static:before {
  border-top-color: $theme-color-1;
}


/* Custom-tooltip-infopanel */
.mv-tooltip.tooltip-inner {
    background-color: $theme-color-1;
    padding: 8px 8px 8px;
    color: $theme-color-2;
    font-family: $font-regular;
    font-size: 11px;
    letter-spacing: 1;
}

.tooltip.right .mv-tooltip.tooltip-arrow {
    border-right-color: $theme-color-1;
}

.tooltip.top .mv-tooltip.tooltip-arrow {
    border-top-color: $theme-color-1;
}

.tooltip.left .mv-tooltip.tooltip-arrow {
    border-left-color: $theme-color-1;
}

/*******************************
------------- SEARCH TOOLBAR
********************************/

#searchtool .btn-default{
	color:$theme-color-1;
}

#parameterspanel{
	font-family: $font-regular;

    .modal-header{
        color: $text-color-1;
        font-size: 13px;
    }
}


/* Search results */

#searchresults{
	font-family:$font-regular;
	color: $text-color-1;

    a.list-group-item.disabled {        
        font-family: $font-bold;
    }

    a:hover {
        font-family: $font-bold;
        color: $theme-color-1;
    }

}

.searchresults-title {
    background-color: $theme-color-1;
    border-color: $theme-color-1;
    color: $theme-color-2;
    font-family: $font-bold; 
}

.searchresults-title .close,
.searchresults-title .close:hover,
.searchresults-title .close:focus,
.searchresults-title .close:active,
.searchresults-title .close:visited
 {
   color: $theme-color-2;
}


/* Partager la carte*/
#sharepanel{
	font-family:$font-regular
}


/*******************************
------------- HELP PANEL -----
********************************/

#help {

    .nav-tabs{
        border-bottom: 2px solid $theme-color-1;
    }

    .nav-tabs>li>a{
        border-radius: 0px 0px 0 0px;
        color: $text-color-1;
    }

    .nav-tabs>li.active>a{
        background-color: $theme-color-1;
        border-color: $theme-color-1;
        color: $theme-color-2;
    }

    .nav-tabs>li.active>a:hover{
        color: $text-color-1;
    }

    .nav-tabs>li>a:hover{
        border-color: #eee #eee $theme-color-1;
        color: $theme-color-1;
    }

    .modal-title{
        font-size: 25px;
        font-family: $font-bold;
        color: $theme-color-1;
    }

    .tab-pane h4{
        font-family: $font-bold;
        color: $theme-color-1;
        font-size: 22px;
        margin-top: 20px;
    }

    .tab-pane h5{
        font-family: $font-bold;
        color: $theme-color-1;
        font-size: 16px;
        margin-bottom: 2px;
    }

    .tab-pane h6{
        font-family: $font-bold;
        color: $theme-color-1;
        font-size: 14px;
        margin-bottom: 2px;
    }

    .tab-pane p{
        color: $text-color-1;
        font-size: 13px;
        text-align: justify;
    }

    .tab-pane .visuel_tx{
        color: $text-color-1;
        font-size: 13px;
    }

    .tab-pane .visuel{
        text-align: center;
    }

}

/*******************************
-------------LOADER INDICATOR
********************************/
.mv-layer-indicator .loader {
    border-top: 1.1em solid $loader-color;
    border-right: 1.1em solid $loader-color;
    border-bottom: 1.1em solid $loader-color;
    border-left: 1.1em solid $theme-color-1;
}

.mv-iframe-indicator .loader {
    border-top: 1.1em solid $loader-color;
    border-right: 1.1em solid $loader-color;
    border-bottom: 1.1em solid $loader-color;
    border-left: 1.1em solid $theme-color-1;
}

#mv-navbar {
    font-family: $font-bold;
}

#mv-navbar.navbar-default .navbar-nav>li>a {
    color: $theme-color-2;
}

@media (max-width: 991px){
    #legend-modal .modal-header,
    #modal-panel .modal-header,
    #sharepanel .modal-header,
    #thematic-modal .modal-header {
        background: $theme-color-1;
        color: $theme-color-2;
        padding: 12px 15px;
        font-family: $font-regular;
    }
    #legend-modal .modal-header .close,
    #sharepanel .modal-header .close,
    #modal-panel .modal-header .close,
    #thematic-modal .modal-header .close {
        color: $theme-color-2;
        opacity: .9;        
    }
}