/*
* Ex de css à modifier / customiser
*/
.statsPanel{
    background-color: #FFFFFF;
    display: none;
    text-align: left;
    position: fixed;
    bottom: 40px;
    left: 200px;
    padding: 5px 15px 2px;
    z-index: 1000000 !important;
    height: 200px;
}

.stat_effect > span {
  animation: openclose 3s ease;
}


@keyframes openclose {
  from {
    opacity : 0;
  }
  to {
    opacity : 1;
  }      
  }

.structcss{
  color:#464a57;
}

.statElement {
  min-width: 400px;
  min-height: 80px;
  float: left;
  margin: 5px;
  padding:20px;
  text-align: center;
  box-shadow: 0 6px 12px hsla(0,0%,50%,.1);
  border-radius: 8px;
  background: #fff;
  color:#464a57;
}