<config xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <application title="Ma commune" logo="" favicon="" help="" titlehelp="" iconhelp="fas fa-home"
        home="" zoomtools="true" initialextenttool="false"
        exportpng="false" showhelp="false" coordinates="false" measuretools="true"
        mouseposition="false" geoloc="false"
        style="css/themes/pink.css"
        togglealllayersfromtheme="false">
</application>
    <mapoptions maxzoom="20" projection="EPSG:3857" center="-307903.74898791354,6141345.088741366" zoom="8" />
    <proxy url="" />
    <olscompletion url="https://data.geopf.fr/geocodage/search/" type="ban" attribution="La recherche d'adresse est un service proposé par la geoplateforme IGN"/>
	<searchparameters bbox="true" localities="true" features="false" static="false" querymaponclick="true" closeafterclick="true" inputlabel="Saisir mon adresse" />
    <baselayers style="default">
		<baselayer visible="true" id="osm_grey" thumbgallery="https://tile.geobretagne.fr/osm/tms/osm:grey/EPSG3857/16/64287/85957.png" title="OpenStreetMap Grey" label="OpenStreetMap Grey" type="WMTS" 
			url="https://tile.geobretagne.fr/osm/service" layers="osm:grey" format="image/png" matrixset="PM" fromcapacity="false" style="_null"
            attribution="GéoBretagne. Données : les contributeurs d'&lt;a href='https://www.openstreetmap.org/' target='_blank'>OpenStreetMap &lt;/a>,  &lt;a href='https://www.openstreetmap.org/copyright' target='_blank'>ODbL &lt;/a>"/>
		<baselayer  type="WMTS" id="ortho1" label="Photo aérienne actuelle" title="GéoPortail" maxscale="1000" thumbgallery="img/basemap/ortho.jpg"
			url="https://data.geopf.fr/wmts" layers="ORTHOIMAGERY.ORTHOPHOTOS" format="image/jpeg" visible="false" fromcapacity="false"
			attribution="&lt;a href='https://geoservices.ign.fr/services-geoplateforme-diffusion' target='_blank'>&lt;img src='https://www.geoportail.gouv.fr/assets/images/logo-geoportail.svg'>&lt;/a>" style="normal" matrixset="PM" maxzoom="22"/>
		<baselayer  type="WMTS" id="photo2" label="Photo aérienne 1950" title="IGN" thumbgallery="img/basemap/ortho-ancien.jpg"
            url="https://data.geopf.fr/wmts" layers="ORTHOIMAGERY.ORTHOPHOTOS.1950-1965" format="image/png" visible="false" fromcapacity="false"
            attribution="&lt;a href='https://geoservices.ign.fr/services-geoplateforme-diffusion' target='_blank'>&lt;img src='https://www.geoportail.gouv.fr/assets/images/logo-geoportail.svg'>&lt;/a>" style="BDORTHOHISTORIQUE" matrixset="PM" maxzoom="22"/> 
		<baselayer  type="WMTS" id="Carte_IGN" label="Carte IGN" title="Carte IGN" thumbgallery="apps/chassev2/img/carteign_32.png"
            url="https://data.geopf.fr/private/wmts?apikey=ign_scan_ws" layers="GEOGRAPHICALGRIDSYSTEMS.MAPS"  style="normal" fromcapacity="false" attribution="© IGN 2022 - Copie et reproduction interdite" visible="false" format="image/jpeg" matrixset="PM" />
		<baselayer  type="OSM" id="osm1" label="OpenStreetMap" title="OpenStreetMap" thumbgallery="img/basemap/osm.png" 
            url="http://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png" 
            attribution="© MapQuest. Données : les contributeurs d'&lt;a href='https://www.openstreetmap.org/' target='_blank'>OpenStreetMap &lt;/a>,  &lt;a href='https://www.openstreetmap.org/copyright' target='_blank'>ODbL &lt;/a>" visible="false"/>
	</baselayers>
    <extensions>
        <extension type="javascript" src="demo/ma_commune/config/configuration.js" />
    </extensions>
    <themes mini="false">
		<theme id="equipement" name="Données" collapsed="false" icon="fas fa-caret-right">
				<layer id="commune"
				name="Communes de Bretagne"
				type="customlayer"
				vectorlegend="false"
				url="demo/ma_commune/customlayers/commune.js"
				queryable="false"
				visible="true"
				showintoc="false"
				attribution="La couche visible sur la carte est une couche WMS. Y est associée une couche WFS de source identique invisible permettant une interaction au survol de la souris." />
			<layer id="administration" name="Administrations (mairies...)"
				visible="true" tiled="false" searchable="false" queryable="true"
				type="customlayer"
				vectorlegend="true"
				attribution="API de l'annuaire des services publics"
				metadata="https://geobretagne.fr/datahub/dataset/b543ad35-966b-4bea-ad0d-ff03ce254914"
				metadata-csw="https://geobretagne.fr/geonetwork/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID&amp;ID=b543ad35-966b-4bea-ad0d-ff03ce254914"				
				url="demo/ma_commune/customlayers/administration.js">
				<template url="demo/ma_commune/templates/administration.mst"></template>
			</layer>
			<layer id="etablissement_scolaire" name="Etablissements scolaires" visible="true" tiled="false" 
				searchable="false" queryable="true" type="customlayer" vectorlegend="true"	attribution="Rectorat"
				metadata="https://geobretagne.fr/datahub/dataset/f33ce68d-9643-4db1-a5e7-745896d5b25a"
				metadata-csw="https://geobretagne.fr/geonetwork/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;ELEMENTSETNAME=full&amp;ID&amp;ID=f33ce68d-9643-4db1-a5e7-745896d5b25a"
				url="demo/ma_commune/customlayers/etablissement_scolaire.js">
				<template url="demo/ma_commune/templates/etablissement_scolaire.mst"/>				
			</layer>	
			<layer id="culture" name="Equipements culturels" visible="true" tiled="false"
				searchable="false" queryable="true" type="customlayer" vectorlegend="true" attribution="Ministère de la culture"
				metadata="https://geobretagne.fr/datahub/dataset/0f64e892-42be-4ba5-a3a7-bf5169db0c50"
				metadata-csw="https://geobretagne.fr/geonetwork/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID&amp;ID=0f64e892-42be-4ba5-a3a7-bf5169db0c50"				
				url="demo/ma_commune/customlayers/culture.js">
				<template url="demo/ma_commune/templates/culture.mst"/>				
			</layer>
			<layer id="sport" name="Equipements de sport" visible="true" tiled="false" 
				searchable="false" queryable="true" type="customlayer" vectorlegend="true" attribution="Ministère des sports"
				metadata="https://geobretagne.fr/datahub/dataset/00c57e00-ee57-4e13-93d0-3f98b32004b9"
				metadata-csw="https://geobretagne.fr/geonetwork/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID&amp;ID=00c57e00-ee57-4e13-93d0-3f98b32004b9"				
				url="demo/ma_commune/customlayers/sport.js">
				<template url="demo/ma_commune/templates/sport.mst"/>				
			</layer>
		</theme>
    </themes>
</config>