Information sur les couches "Points de Collecte".<br><br>
<img src=img/applis/legende_collecte.png><br><br>

Ces couches permettent de connaitre les jours de collecte d'une adresse pour chacun des flux. En cliquant dans la carte, on peut avoir un détail de l'information sur un point particulier. L'internaute peut même proposer une mise à jour des données s'il constate qu'elles sont erronées.
