/*--------------------------- THEME KARTENN WET_ASPHALT -------------------------*/

/* Import des fonts*/
		@font-face {
		    font-family: 'roboto_black';
		    src: url('../font/Roboto/Roboto-Black.ttf');
		}
		@font-face {
		    font-family: 'roboto_bold';
		    src: url('../font/Roboto/Roboto-Bold.ttf');
		}
		@font-face {
		    font-family: 'roboto_regular';
		    src: url('../font/Roboto/Roboto-Regular.ttf');
		}
		@font-face {
		    font-family: 'spotkabold';
		    src: url('../font/spotkabold.ttf');
		}


/* Modification de l'interface bootstrap*/

/* Barre de navigation du haut*/
.navbar-default{
	border-color:#2d4059;
}

#mv-navbar{
	border-color:#2d4059;
	background-color: #2d4059;
}

.navbar-header.fixed-brand{
	background-color: #2d4059;
}
	
#mv-navbar a.navbar-brand, .mv-title{
	color:#ffffff!important;	
	font-size: 20px;	
	/*font-weight: bold;*/
}
p.navbar-text.mv-title{
	font-size: 18px;
	font-family: 'spotkabold', sans-serif;
	letter-spacing: 0.5px;
}

.navbar-default .navbar-toggle{
	border-color: #ffffff;
}
	
.glyphicon-th-large:before{
	color:#ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:#2d4059;
}

.ol-control button {
  color: #fff!important;
  background-color: #2d4059!important;
}

.ol-control button:focus, .ol-control button:hover {  
  background-color: #2d4059;
}

.gml-item-title {    
    font-family: 'roboto_regular', sans-serif;
	color:#2d4059;
    font-size: 24px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { 
  background-color:#2d4059;
  border-left: thick solid #2d4059!important;
}

#right-panel .mv-header {  
  background-color: #2d4059;
  color: #fff;  
}
#right-panel .mv-header h5 {  
  font-family: 'roboto_bold', sans-serif;
  font-size: 13px;
}

/* Barre de gauche*/

#sidebar-wrapper a{
	font-family:'roboto_regular', sans-serif;
	/*letter-spacing:-0.2pt;*/
	
}
#menu>li>a{
	font-family:'roboto_bold';
	font-weight: normal!important;
}
#menu li a:hover{
	border-left:#2d4059 0px solid;
	background:#2d4059;
	color: #f8f8f8;
}

#bottom-panel .mv-header h5{
	font-family:'roboto_bold', sans-serif;
	color: #2d4059;	
	font-size:13px;
}

.fa-chevron-circle-down{
	color:#2d4059;
}

#layers-container a {
	color: #2d4059;
	font-family: 'roboto_bold', sans-serif;	
	font-weight: normal;
}

.form-group label {
	font-family: 'roboto_bold', sans-serif!important;
	font-weight: normal;
}

#layers-container .mv-layer-options p {
	font-family: 'roboto_regular', sans-serif; 
	margin: 0 0 10px!important;
}

.form-control{
	font-family: 'roboto_regular', sans-serif; 
	color:#555!important;
}

.mv-layer-options{
	color:#555!important;
}
/* Style curseur slider Opacité */
.mv-layer-options  .slider-selection{
	background:#2d4059;	
}

.mv-layer-options .slider-handle {
    background: #2d4059;
}

.mv-layer-options .tooltip-inner{
	background-color:#2d4059;
	border-radius: 4px;
	font-family: 'roboto_regular', sans-serif;
}
.mv-layer-options .tooltip.top .tooltip-arrow{
	border-top-color:#2d4059;
}

/* Slider temporalité */ 

.mv-layer-options  .form-group-timer .slider-selection{
	background:#2d4059;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}

.slider.slider-horizontal .slider-tick-label-container{
	font-family: 'roboto_regular', sans-serif!important;
}
.slider-tick.round.in-selection{
	background: #2d4059;
	background-image: none;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}


.form-group-timer .slider-tick.round{
	background:#2d4059;
	background-image:none;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
	opacity: 1;
}

.form-group-timer .tooltip.bottom .tooltip-arrow{
	border-bottom-color:#2d4059;
}

.mv-layer-options  .form-group-timer .slider-track-high{
	background:#2d4059;	
}

#layers-container-box-header {
  background-color: #2d4059;
}


/* Basemap*/ 

ul#basemapslist p {
	font-family: 'roboto_regular', sans-serif;
}

ul#basemapslist  li.active{	
    border:2px #2d4059 outset;    
}

/* Style fenêtre de configuration*/

h3.title{
	font-family: 'roboto_regular', sans-serif;;
	font-size: 24px;
	color:#2d4059;
	}
	
h4.title{
    font-family: 'roboto_regular', sans-serif;;
    font-size: 16px;
    color:#2d4059;
}

.info{
	font-family:'roboto_regular', sans-serif;
	}

		
	/* Button right toolbar */


#toolstoolbar.btn-warning{
	background-color: #2d4059;
	border-color: #2d4059;
}

#toolstoolbar.btn-warning:hover{
	background-color: #2d4059;
	border-color: #2d4059;
}

#alerts-zone .alert.alert-info {
  background-color: #2d4059;
  color: #fff;
}

#alerts-zone .close {  
  color: #fff;
  text-shadow: 0 1px 0 #000;  
}


.datepicker .active {
    background-color: #2d4059!important;
}

.leftpanel-btn:hover {
   color: #2d4059;
}

/* Résultats recherches */

li.elasticsearch.list-group-item.disabled{
	color: #2d4059;
	
}

/* Buttons tools*/
#drawtoolsoptions .btn-default.active, #drawtoolsoptions .btn-default:active, #drawtoolsoptions .btn-default.focus, #drawtoolsoptions .btn-default:focus {
	background-color:#2d4059;
	border-color:#2d4059;
}

/* Search toolbar */

li.geoportail.list-group-item.disabled{
	background:#2d4059;
	border-color:#2d4059;
}

.nav-tabs .active .glyphicon, .nav-tabs .active .fa {
  color: #2d4059;  
}

a:hover{
	color: #2d4059;
}

#searchtool .btn-default{
	color:#2d4059;
}

/* Tooltip measure */
.tooltip2 {
  background: #2d4059;
}

.tooltip-measure-static {
  background-color: #2d4059;
}

.tooltip-measure:before,
.tooltip-measure-static:before {
  border-top: 6px solid #2d4059;
}

.tooltip-measure-static:before {
  border-top-color: #2d4059;
}

 /* custom-tooltip-feature */
.tooltip-feature.tooltip-inner {
    background-color: #2d4059;
    padding: 10px 8px 10px;
    color: #fff;
    font-family: "roboto_regular";
    font-size: 13px;
    letter-spacing: 1;
}
.tooltip.right .tooltip-feature.tooltip-arrow {
    border-right-color: #2d4059; 
}
.tooltip.top .tooltip-feature.tooltip-arrow {
    border-top-color: #2d4059; 
}
.tooltip.left .tooltip-feature.tooltip-arrow {
    border-left-color: #2d4059; 
}

.tooltip-feature h5 {
    margin-bottom: 0;
}
.tooltip-feature.tooltip.in {
    opacity: 1;
}
/* custom-tooltip-infopanel */
.mv-tooltip.tooltip-inner {
    background-color: #2d4059;
    padding: 10px 8px 10px;
    color: #fff;
    font-family: "roboto_regular";
    font-size: 13px;
    letter-spacing: 1;
}
.tooltip.right .mv-tooltip.tooltip-arrow {
    border-right-color: #2d4059; 
}
.tooltip.top .mv-tooltip.tooltip-arrow {
    border-top-color: #2d4059; 
}
.tooltip.left .mv-tooltip.tooltip-arrow {
    border-left-color: #2d4059; 
}
