/*
Mviewer
Feuille de style du catalogue des fonctionnalités
*/

/* Navbar */
.navbar-brand span {
	font-size: 1em;
	font-weight: 700;
	margin-left: 0.5em;
}

#navbarNav {
    justify-content: end;
}

.headerCatalog {
    color: white;
    padding: 4rem 1rem;
}

.navbar-toggler:hover {
    opacity: 0.7;
}

.nav-link {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-link:hover {
    background-color: var(--primary);
    color: white;
}

/* Input search */
#iconSearch {
	background-color: var(--primary);
	color: white;
	border-color: var(--primary);
}

/* Card */
.card-footer {
	background: none;
	border: none;
}

.card {
	padding: 12px 10px;
}

.card-title {
    color: var(--primary);
    font-weight: 700;
}

.card-tags {
	font-size: 14px;
	color: #888;
}

.sub-card {
	display: flex;
	justify-content: space-between;
}

.card-apps-contain .card {
	height: 100%;
}

.card-level {
	text-align: end;
	font-size: 12px;
    text-transform: uppercase;
	color: white;
	/* padding: 0px; */
}

.card-level span {
	padding: 2px 5px;
	border-radius: 6px;
}

.level-simple span {
	background-color: var(--secondary);
}

.level-avancé span {
	background-color: var(--warning);
}

.level-intermédiaire span {
	background-color: var(--info);
}


/* Filter */

.searchable {
	display: block;
	/* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.hide {
	display: none;
}


/* FOOTER */
.footer {
	color: white;
}

.footerContain {
	padding: 5em 0 1em;
}

.footerLink a {
	color: white;
	line-height: 2;
}

.footerIconContact a {
    padding: 0rem 2rem 0rem 0rem;
    opacity: 0.7;
}

.footerIconContact a:hover {
    opacity: 1;
}

.footerLink {
    display: flex;
    flex-direction: column;
}

.footerLink a {
    line-height: 2.4!important;
    opacity: 0.8;
}

.subfooter {
	background-color: #ffffff17;
	padding: 1em;
	margin-top: 2em;
}

.subfooter .container {
	text-align: center;
}


/* Btn-scroll */

#btn-scroll {
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s,
		opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

#btn-scroll:hover {
	cursor: pointer;
	opacity: 0.8!important;
}


#btn-scroll.show {
	opacity: 1;
	visibility: visible;
}