#trackview-panel {
    width: calc(100% - 50px);
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ffffffed;
}

.mode-u #wrapper.toggled-2 #trackview-panel, .mode-s #wrapper.toggled-2 #trackview-panel {
    width: 100%!important;
}

#trackview-graph {
    max-height: 250px;
    width: 100%;
}

.hidden {
    display: none;
}

#backgroundlayerstoolbar-default, #mviewerinfosbar, .ol-attribution.ol-unselectable.ol-control, .ol-scale-line.ol-unselectable {
    z-index: 1;
    margin-bottom: 250px;
}

/* Parameters of the dropdown */

#trackview-dropdown-custom {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    right: 5em;
    top: calc(15px + var(--mv-navbar-h));
    font-size: 0.9em;
}

#trackview-dropdown-custom .select {
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: 0.3s;
}

#trackview-dropdown-custom .caret {
    transition: 0.3s;
}

#trackview-dropdown-custom .caret-rotate {
    transform: rotate(180deg);
}

#trackview-parcours.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

#trackview-parcours.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: var(--bs-border-radius);
    cursor: pointer;
}

#trackview-parcours.menu li:hover {
    background: rgba(211, 211, 211, 0.641);
}

#trackview-parcours.menu .active {
    background-color: var(--mv-color-primary);
    color: white;
}

#trackview-parcours.menu-open {
    display: block;
    opacity: 1;
}

/* The phone version */

.xs #backgroundlayerstoolbar-default, .xs #mviewerinfosbar, .xs .ol-attribution.ol-unselectable.ol-control, .xs .ol-scale-line.ol-unselectable {
    margin-bottom: 210px;
}

.xs #trackview-dropdown-custom {
    margin: 60px 0 0 210px;
}

.xs #wrapper.toggled-2 #trackview-panel {
    width: 100%!important;
}

/* The thematic menu */

#wrapper.toggled-2 #trackview-panel {
    width: calc(100% - 50px)!important;
    transition: all 0.5s ease;
}

#wrapper #trackview-panel {
    width: calc(100% - 250px)!important;
    transition: all 0.5s ease;
}