#trackview-panel {
    width: calc(100% - 50px);
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    border-color: lightblue;
    filter: opacity(80%);
}

.hidden {
    display: none;
}

#trackview-graph {
    max-height: 230px;
    width: 100%;
}

#backgroundlayerstoolbar-default, #mviewerinfosbar, .ol-attribution.ol-unselectable.ol-control, .ol-scale-line.ol-unselectable {
    z-index: 1;
    margin-bottom: 232px;
}

/* Parameters of the dropdown */

#trackview-select {
    text-align: center;
    margin-top: 200px;
    margin: 60px 0 0 270px;
    position: fixed;
    border-radius: 10px;
    background-color: white;
    border-color: #03224c;
    padding: 1.2rem 1rem;
    font-family: 'roboto_regular', Sans-serif;
    filter: opacity(80%);
}

select option {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
}

select option:hover {
    background-color: red;
}

/* The phone version */

.xs #backgroundlayerstoolbar-default, .xs #mviewerinfosbar, .xs .ol-attribution.ol-unselectable.ol-control, .xs .ol-scale-line.ol-unselectable {
    margin-bottom: 210px;
}

.xs #liste-deroulante {
    margin: 60px 0 0 210px;
}

.xs #wrapper.toggled-2 #trackview-panel {
    width: 100%!important;
}

/* The thematic menu */

#wrapper.toggled-2 #trackview-panel {
    width: calc(100% - 50px)!important;
    transition: all 0.5s ease;
}

#wrapper #trackview-panel {
    width: calc(100% - 250px)!important;
    transition: all 0.5s ease;
}