#trackview-panel {
    max-height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: lightgray;
    border-color: lightblue;
    border-style: dashed;
    filter: opacity(60%);
}

p {
    text-align: center;
    padding: 60px 200px;
    font-size: 2em;
}