#trackview-panel {
    max-height: 230px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: lightgray;
    border-color: lightblue;
    border-style: dashed;
    filter: opacity(60%);
}