/** 
    * Feuille de style CSS - Visualiseur cartographique Mviewer
    * Version 4
    * Thème - Système de Design de l'etat 
**/

/**
* Import de la librairie DSFR-V1.14.3
**/

@import url(dsfr-v1.14.3/dist/dsfr.min.css);
@import url(dsfr-v1.14.3/dist/utility/icons/icons.min.css);

/**
 * Déclaration des fonts
 */

/* Marianne léger normal */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Light.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Marianne léger italique */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Light_Italic.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Light_Italic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* Marianne régulier normal */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Regular.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Marianne régulier italique */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Regular_Italic.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Regular_Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Marianne moyen normal */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Medium.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Marianne moyen italique */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Medium_Italic.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Medium_Italic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

/* Marianne gras normal */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Bold.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Marianne gras italique */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Bold_Italic.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Bold_Italic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Spectral régulier normal */
@font-face {
	font-family: Spectral;
	src: url("dsfr-v1.14.3/dist/fonts/Spectral-Regular.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Spectral-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Spectral extra-gras normal */
@font-face {
	font-family: Spectral;
	src: url("dsfr-v1.14.3/dist/fonts/Spectral-ExtraBold.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Spectral-ExtraBold.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/*  Définition des variables */

:root {
	--bf950: #ececfe;
	--bf500: #000091;
	--bf300-plain: #9a9aff;
	--bf200-bf300: #ececff;
	--im-525: #0078f3;
	--g1000-hover: #f6f6f6;
	--g800: #1e1e1e;
	--g700: #383838;
	--g600: #6a6a6a;
	--g500: #9c9c9c;
	--g400: #cecece;
	--g300: #e7e7e7;
	--g200: #f0f0f0;
	--g100: #f8f8f8;
	--g100-active: #5b5b5b;
	--bs-navbar-brand-padding-y: 10px;
	--underline-img: var(--idle);

	/* Mviewer */
	
	--mvcustom-font: 'Marianne', sans-serif;
	--mvcustom-navbar-h: 80px;
	--mvcustom-color-primary: var(--bf500);
	--mvcustom-navbar-color: #fff;
	--mvcustom-navbar-colorbody: var(--g700);
	--mvcustom-border-radius: 0px;
}

/* -- Généralités -- */

input:focus,
select:focus {
	outline: 2px solid var(--im-525) !important;
}

li {
	padding-bottom: 0;
}

hr {
    padding: 0;
}

p {
    line-height: normal;
}

select.form-select {
	color: var(--g700) !important;
	background-color: var(--g200) !important;
	border: none !important;
	box-shadow: inset 0 -2px 0 0 var(--g600) !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%231e1e1e' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>") no-repeat right #ddd0;
	background-size: 20px;
	-webkit-appearance: none;
}

input.form-control:not([type="color"]) {
    background-color: var(--g200);
    border-bottom: 2px solid var(--g600) !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border: none;
}

input[type=radio] {
    height: 1.5rem;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 1.5rem
}

input[type=radio]+div, input[type=radio]+label {
    align-items: flex-start;
    background-image: radial-gradient(transparent 10px,var(--border-active-blue-france) 11px,transparent 12px);
    background-position: calc(-.25rem + 1px) calc(-.25rem + 1px),calc(-.25rem + 1px) calc(-.25rem + 1px);
    background-repeat: no-repeat,no-repeat;
    background-size: 1.875rem 1.875rem,1.875rem 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2rem
}

input[type=radio]:checked+div, input[type=radio]:checked+label {
    background-image: radial-gradient(transparent 10px,var(--border-active-blue-france) 11px,transparent 12px),radial-gradient(var(--background-active-blue-france) 5px,transparent 6px)
}

input[type=radio]+div:before, input[type=radio]+label:before {
    border-radius: 1.5rem;
    content: "";
    height: 1.5rem;
    margin-left: -2rem;
    position: absolute;
    top: 0;
    width: 1.5rem
}

/* Checkbox */

.form-check > div {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin: 5px 0;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 3px 0;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid var(--bf500);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.9em;
  height: 0.9em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Btn */

a.btn.btn-light:hover {
	background-color: #f6f6f6 !important;
}

.btn.btn-primary:hover {
    background-color: color-mix(in srgb, var(--mv-color-primary) 80%, white)!important;
}

/* Modal */

.modal-content {
    border: none!important
}

#main:not(.xs) .modal-header {
    padding: 2rem 2rem .5rem 2rem!important;
}

#main:not(.xs) .modal-body {
    padding: .5rem 2rem 2rem 2rem!important;
}

.modal-header {
    border: none!important
}

.modal-title {
    font-weight: 700;
}

.modal .modal-header .btn-close::before {
	content: "Fermer ";
}

.modal .modal-header .btn-close {
	color: var(--bf500);
	opacity: 1;
	font-size: 16px;
	font-weight: 600;
	width: auto;
	background-position: right 5px center!important;
	background-size: 11px!important;
	padding-right: 1.2em!important;
	display: flex;
	align-items: center;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000091'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
	background-repeat: no-repeat;	
	border-radius: var(--bs-border-radius);
}

.modal .modal-header .btn-close:hover {
	color: var(--bf500);
	opacity: 1;
}

table.fr__table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.fr__table thead {
  background-color: #eeeeee;
}

.fr__table th, td {
  padding: 8px;
  text-align: left;
}

.fr__table th {
  font-weight: 600;
  color: #333;
}

.fr__table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.fr__table tbody tr:hover {
  background-color: #eaeaeae0;
}

/* -- Components -- */

/**
 * Page de chargement
 */

#loader-subtitle {
	color: var(--bf500);
}

/* Loading */ 

#loading-indicator i {
    color: var(--mv-color-primary);
}

/**
 * Navbar
 */

#mv-navbar {
	box-shadow: 0px 0px 30px 3px rgb(0 0 0 / 26%);
}

#mv-navbar .mv-title {
	font-weight: 600;
}

/**
 * Barre de recherche
 */
#searchfield {
	background-color: var(--g200);
	border-bottom: 2px solid var(--bf500) !important;
	border-top-left-radius: 5px !important;
}

#searchtool .btn {
	border-top-right-radius: 5px !important;
	background-color: var(--bf500) !important;
	border-bottom: 2px solid var(--bf500) !important;
	border-right: 2px solid var(--bf500) !important;
	color: white;
}

/* Résultats de la recherche */

.searchresults-title {
	background-color: var(--bf500) !important;
	color: white !important;
}

.searchresults-title .btn-close {
	filter: invert(1);
}

.searchresults-title .btn-close:hover {
	background: none;
}

/**
 * Accueil
 */

#iconhelp {
	background: none;
	color: var(--mv-color-primary);
	border: none;
	font-size: x-large;
}

#iconhelp:hover {
	background-color: var(--bf200-bf300);
}

/**
 * Menu des couches
 */

#menu>li>a {
	background-color: #fff !important;
	border: none !important;
}

#menu>li>a:hover {
	background-color: var(--g1000-hover) !important;
	border: none !important;
}

#menu .mv-nav-item a {
	color: var(--g700) !important;
}

#menu .mv-nav-item a:hover {
	color: var(--bf500) !important;
	border-right: 3px solid var(--bf500);
	border-left: none !important;
}

#menu .opened .badge {
	color: var(--bf500) !important;
	background-color: var(--bf200-bf300) !important;
}

/**
 * Légende
 */

#layers-container-box-header a:hover {
	background-color: color-mix(in srgb, var(--mv-color-primary) 80%, white);
}

/**
 * Fond de plan 
 */

#basemapslist li.active {
	border: 2.5px solid var(--bf500);
}

/* Crédits */

.ol-attribution.ol-unselectable.ol-control a {
	color: var(--bf500)
}

/* Modal - Share */

.iconShare__list > [target=_blank]:after{
	width:0;
}

/* Panel */

.mv-header, .mv-header h6 {
    font-size: 0.95em !important;
    color: var(--bf500);
}

.badge.counter-slide {
    background-color: var(--bf200-bf300) !important;
    color: var(--bf500) !important;
    border-radius: 10px;
    padding: 5px 8px;
    font-size: x-small;
}

/* Carousel */

a.carousel-control-prev, a.carousel-control-next {
    cursor: pointer;
}

/* Btn switch */

.show-help-tracker {
  display: flex!important;
  align-items: center;
  gap: 0.75rem;
}

.show-help-tracker .form-check-input {
  appearance: none!important;
  -webkit-appearance: none;
  width: 2.75rem!important;
  height: 1.5rem;
  background-color: #e5e5e5;
  border-radius: 2rem!important;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease!important;
  border: none;
  outline: none;
}

.show-help-tracker .form-check-input::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 1.25rem;
  height: 1.25rem;
  background: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.show-help-tracker .form-check-input:checked {
  background-color: #000091;
}

.show-help-tracker .form-check-input:checked::before {
  transform: translateX(1.25rem);
}

.show-help-tracker .form-check-input:focus-visible {
  outline: 2px solid #000091;
  outline-offset: 2px;
}

.show-help-tracker label {
  margin: 0;
  cursor: pointer!important;
}

/* Langues */

li.mv-translate:hover {
    background-color: var(--g1000-hover);
}

/** 
** PLUGINS
*/

/* Filtre */

#advancedFilter {
    font-size: .9em;
}

.advancedFilter .filterCheck__list .form-check-label {
    border-radius: 0!important;
    color: var(--bf500)!important;
    background-color: var(--bf200-bf300)!important;
}

.advancedFilter .filterCheck__list .form-check-label-checked, 
.advancedFilter .filterCheck__list .form-check-label:hover {
    color: white!important;
    background-color: var(--bf500)!important;
}

.advancedFilter .bootstrap-tagsinput {
	color: var(--g700) !important;
	background-color: var(--g200) !important;
	border: none !important;
	box-shadow: inset 0 -2px 0 0 var(--g600) !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
}

.advancedFilter .bootstrap-tagsinput .tag{
    border-radius: 0!important;
	font-size: .85em;
	padding: 3px;
	line-height: 1.5;
}

/* Layer Filter */

#layerfilter-field {
    background-color: var(--g200);
    border-bottom: 2px solid var(--bf500) !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border: none;
}

/* File import */ 

#drop_zone {
    border-radius: 0;
    font-size: small!important;
}

#drop_zone p{
    font-size: small!important;
}

#geocoding-modal .list-group-item:hover {
    background-color: var(--g1000-hover) !important;
    color: currentColor;
}

/* Isochrone */

#isochronePanel {
    font-size: .9em;
}