/** 
    * Feuille de style CSS - Visualiseur cartographique Mviewer
    * Version 4

    * Thème - Système de Design de l'etat 

**/

/* -- Généralités -- */

/**
* Import de la librairie DSFR-V1.14.3
**/
@import url(dsfr-v1.14.3/dist/dsfr.min.css);
@import url(dsfr-v1.14.3/dist/utility/icons/icons.min.css);

/**
 * Déclaration des fonts
 */

/* Marianne léger normal */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Light.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Marianne léger italique */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Light_Italic.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Light_Italic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* Marianne régulier normal */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Regular.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Marianne régulier italique */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Regular_Italic.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Regular_Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Marianne moyen normal */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Medium.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Marianne moyen italique */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Medium_Italic.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Medium_Italic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

/* Marianne gras normal */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Bold.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Marianne gras italique */
@font-face {
	font-family: Marianne;
	src: url("dsfr-v1.14.3/dist/fonts/Marianne-Bold_Italic.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Marianne-Bold_Italic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Spectral régulier normal */
@font-face {
	font-family: Spectral;
	src: url("dsfr-v1.14.3/dist/fonts/Spectral-Regular.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Spectral-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Spectral extra-gras normal */
@font-face {
	font-family: Spectral;
	src: url("dsfr-v1.14.3/dist/fonts/Spectral-ExtraBold.woff2") format("woff2"), url("dsfr-v1.14.3/dist/fonts/Spectral-ExtraBold.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/*  Définition des variables */
:root {
	--bf950: #ececfe;
	--bf500: #000091;
	--bf300-plain: #9a9aff;
	--bf200-bf300: #ececff;
	--im-525: #0078f3;
	--g1000-hover: #f6f6f6;
	--g800: #1e1e1e;
	--g700: #383838;
	--g600: #6a6a6a;
	--g500: #9c9c9c;
	--g400: #cecece;
	--g300: #e7e7e7;
	--g200: #f0f0f0;
	--g100: #f8f8f8;
	--g100-active: #5b5b5b;
	--mvcustom-font: 'Marianne', sans-serif;
}

/* Page de chargement */
#loader-subtitle {
	color: var(--bf500) !important;
}

/**
 * Navbar
 */
:root {
	--mvcustom-navbar-h: 82px;
	--mvcustom-navbar-color: #fff;
	--mvcustom-navbar-colorbody:var(--g700);
	--bs-navbar-brand-padding-y: 10px;
	--underline-img:var(--idle);
}
#mv-navbar {
	box-shadow: 0px 0px 30px 3px rgb(0 0 0 / 26%);
	border-width: 2px;
}
#mv-navbar a.navbar-brand, .mv-title {
	color: var(--g700);
	font-family: var(--myfont);
	font-weight: 600;
}
img.mv-logo {
	max-height: 65px !important;
    margin-top: -10px !important;
}

/* Icône menu */
.navbar-brand.menu-toggle span {
	content: url(dsfr-v1.14.3/dist/icons/system/menu-fill.svg);
}

/**
 * Barre de recherche
 */
:root {
	--mvcustom-border-radius: 0px;
}
#searchtool .btn {
	border-top-right-radius: 5px !important;
	background-color: var(--bf500) !important;
	border-bottom: 2px solid var(--bf500) !important;
	border-right: 2px solid var(--bf500) !important;
}
.ri-more-2-fill::before {
	font-family: "remixicon";
  	content: "\f0d1" !important;
	color: #fff;
}
input#searchfield {
	background-color: var(--g200);
	border-bottom: 2px solid var(--bf500) !important;
	border-top-left-radius: 5px !important;
}
input#searchfield:focus {
	outline: 2px solid var(--im-525) !important;
}

/* Résultats de la recherche */
#searchresults {
	top: 82px !important;
}
.searchresults-title {
	background-color: var(--bf500) !important;
	color: #fff !important;
}
.search-header {
	color: var(--g100-active) !important;
	font-size: 13px;
	font-weight: 500;
}
#searchresults a.list-group-item {
	color: var(--g700) !important;
	font-size: 11px !important;
}
#searchresults a.list-group-item:hover {
	background-color: var(--g1000-hover) !important;
}

/**
 * Bouton vers le panneau d'aide / Accueil
 */
.fa-home::before {  
	font-family: "remixicon";
	content: "\ee1d" !important;
	color: var(--bf500) !important;
	font-weight: 400;
	font-size: 20px;
}
#iconhelp {
	background-color: var(--bf950) !important;
}

/**
 * Menu des couches
 */
/* Titre des thématiques */
#menu>li>a {
	background-color: #fff !important;
	border: none !important;
}
#menu>li>a:hover {
	background-color: var(--g1000-hover) !important;
	border: none !important;
}


/* Titre des couches */
#menu .mv-nav-item a {
	color: var(--g700) !important;
}
#menu .mv-nav-item a:hover {
	color: var(--bf500) !important;
	border-right: 3px solid var(--bf500);
	border-left: none !important;
}
.mv-checked::before {
	font-family: "remixicon";
	content: "\F050" !important;
}

/**
 * Légende
 */
.ri-list-unordered::before {
	font-family: "remixicon";
  	content: "\eeba";
}

/**
 * Fond de plan 
 */

/* Crédits */
.ol-attribution.ol-unselectable.ol-control {
	font-family: var(--myfont);
}
.ol-attribution.ol-unselectable.ol-control a {
	color: var(--bf500)
}
 
