L&eacute;gendes pour la destination dominante des zonages :<br><br>
<table width=800px>
<tr><td bgcolor="#ff5959">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;01</td><td>Zone d'habitat dense</td></tr>
<tr><td bgcolor="#ed00ee">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;02</td><td>Zone d'activit&eacute;</td></tr>
<tr><td bgcolor="#ff9595">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;03</td><td>Zone d'habitat continu ou discontinu</td></tr>
<tr><td bgcolor="#ff7f00">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;04</td><td>Zone d'activit&eacute;s sportives, touristiques et de loisirs dans zones naturelles</td></tr>
<tr><td bgcolor="#d9f200">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;05</td><td>Equipements, services publics</td></tr>
<tr><td bgcolor="#fffcd7">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;07</td><td>Espace agricole</td></tr>
<tr><td bgcolor="#bfffcb">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;08</td><td>Protection stricte des sites, paysages et milieux naturels</td></tr>
<tr><td bgcolor="#81ff81">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;09</td><td>Pr&eacute;servation des espaces terrestres et marins, sites et paysages</td></tr>
<tr><td bgcolor="#fbe38d">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;10</td><td>Zone d'activit&eacute; extractive</td></tr>
<tr><td bgcolor="#d2d2d2">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;11</td><td>Zone militaire</td></tr>
<tr><td bgcolor="#00dcdc">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;17</td><td>Zone humide</td></tr>
<tr><td bgcolor="#ffd9ff">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;18</td><td>Zone d'habitat future</td></tr>
<tr><td bgcolor="#ffa7fe">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;19</td><td>Zone d'activit&eacute; future</td></tr>
<tr><td bgcolor="#00aaff">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;20</td><td>Activit&eacute;s aquacoles</td></tr>
<tr><td bgcolor="#a1e0ff">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;21</td><td>Zone d'activit&eacute; portuaire et maritime</td></tr>
<tr><td bgcolor="#e1e2ff">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;22</td><td>Cimeti&egrave;re paysager</td></tr>
<tr><td bgcolor="#ffd09f">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;23</td><td>Zone de loisirs future</td></tr>
<tr><td bgcolor="#e2ff85">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;24</td><td>Zone d'&eacute;quipements future</td></tr>
<tr><td bgcolor="#b30080">&nbsp;&nbsp;&nbsp;</td><td>&nbsp;98</td><td>Aire d'accueil des gens du voyage</td></tr>
</table>
