#isochronePanel {
  background-color: #ffffff;
  position: fixed !important;
  border-radius: var(--bs-border-radius);
  max-width: 300px;
  z-index: 1000 !important;
  box-shadow: 0px 0px 30px 3px rgba(200, 200, 200, 0.5);
  padding: 1em;
}

#isochronePanel .header {
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#isochronePanel .selected {
  background-color: var(--mv-color-primary);
  color: white;
}

#isochronePanel #color {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#isochronePanel #color label {
  line-height: 1.1;
  margin-left: 1em;
}
